<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">支付宝未支付的订单</strong></div>
</div>

<div class="am-g">
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-date">日期</th><th class="table-type">客户手机号</th><th class="table-type">支付宝账号</th><th class="table-author">金额</th><th class="table-set">状态</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in alipayOrderListVM.showingItems">
                    <td>\{{order.createdAt | displayDate}}</td>
                    <td>\{{order.userMobile}}</td>
                    <td>\{{order.otherInfo}}</td>
                    <td>\{{order.amount}}</td>
                    <td>\{{order.status | orderStatus}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="alipayOrderListVM.handleOrder(order)"><span class="am-icon-pencil-square-o"></span> 管理</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="alipayOrderListVM.deleteOrder(order)"><span class="am-icon-pencil-square-o"></span> 删除</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="am-cf">
                共 \{{alipayOrderListVM.totalItems}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="alipayOrderListVM.itemsPerPage" total-items="alipayOrderListVM.totalItems" ng-model="alipayOrderListVM.currentPage" ng-change="alipayOrderListVM.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="alipayOrderModal.html">
    <div class="modal-header">
        <h3 class="modal-title">确认支付宝订单</h3>
    </div>
    <div class="modal-body">
        <p>支付宝实名：\{{name}}</p>
        <p>支付宝账号：\{{account}}</p>
        <p>转账单号:<input type="text" ng-model="trans_id" required></p>
        <p>金额：\{{amount | currency:'':2}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">完成</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>

<script type="text/ng-template" id="alipayOrderDeleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">删除支付宝订单</h3>
    </div>
    <div class="modal-body">
        <p>支付宝实名：\{{name}}</p>
        <p>支付宝账号：\{{account}}</p>
        <p>金额：\{{amount | currency:'':2}}</p>
        <p>删除后不能恢复，确认吗？</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
