<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">冻结的提现订单</strong></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <span class="am-input-group-btn">
              <!--
            <button class="am-btn am-btn-default" type="button" ng-click="vm.startToPay()">开始支付</button>
            -->
          </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-date">日期</th><th class="table-type">客户手机号</th><th class="table-author">姓名</th><th class="table-type">银行</th><th class="table-author">金额</th><th class="table-set">状态</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in vm.showingItems">
                    <td>\{{order.createdAt | displayDate}}</td>
                    <td>\{{order.userMobile}}</td>
                    <td>\{{order.cardInfo.userName}}</td>
                    <td>\{{order.cardInfo.bank}}</td>
                    <td>\{{order.amount}}</td>
                    <td>\{{order.status | orderStatus}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-success" ng-click="vm.handleOrder(order)"><span class="am-icon-pencil-square-o"></span> 解除冻结</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="vm.orderHistory(order)"><span class="am-icon-tasks"></span> 历史订单</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="am-cf">
                共 \{{vm.totalItems}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="orderHistoryModal.html">
    <div class="modal-header">
        <h3 class="modal-title">用户订单历史</h3>
    </div>
    <div class="modal-body">
        <p>手机号：\{{::userMobile}}</p>
        <p class="am-text-success"><strong>充值订单:</strong></p>
        <ol>
            <li ng-repeat="order in rechargeOrders">\{{order.createdAt | date:"yyyy-MM-dd"}} \{{order.payType | payType}}:\{{order.amount | currency:'':2}}</li>
        </ol>
        <p class="am-text-primary">充值共计:\{{::rechargeAmount | currency:'':2}}</p>
        <p class="am-text-success"><strong>股票盈利订单:</strong></p>
        <ol>
            <li ng-repeat="order in profitOrders">\{{order.createdAt | date:"yyyy-MM-dd"}} \{{order.amount | currency:'':2}}</li>
        </ol>
        <p class="am-text-primary">盈利共计:\{{::profitAmount | currency:'':2}}</p>
        <p class="am-text-danger"><strong>提现订单:</strong></p>
        <ol>
            <li ng-repeat="order in withdrawOrders">\{{order.createdAt | date:"yyyy-MM-dd"}} \{{order.amount | currency:'':2}}</li>
        </ol>
        <p class="am-text-primary">提现共计:\{{::withdrawAmount | currency:'':2}}</p>
        <br>
        <p>操盘中保证金：\{{::deposit | currency:'':2}}</p>
        <p>充值+盈利-提现 差额:\{{::delta | currency:'':2}}</p>
        <p>当前提现金额：\{{::amount}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>