<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>牛金网 | 管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- favicon
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    -->
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    <link rel="stylesheet" href="{{static '/css/admin.css'}}">
    <link rel="stylesheet" href="{{static '/css/niujinwang.min.d3b0a566.css'}}">
    {{#if bootstrappedUser}}
        <script> window.bootstrappedUserObject = {{{bootstrappedUser}}} </script>
    {{/if}}
</head>
<body ng-app="adminApp" ng-controller="AdminMainCtrl as mainVM">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，牛金网 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong><a href="/" ng-click="mainVM.gotoRoot()">牛金网</a></strong>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="#" ng-click="mainVM.signout()"> 安全退出 </a></li>
            <!--
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            -->
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-user'}"><span class="am-icon-file"></span> 用户列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-user">
                        <li><a href="/admin/#/users"><span class="am-icon-users"></span> 新用户列表</a></li>
                        <li><a href="/admin/#/user_page"><span class="am-icon-users"></span> 搜索用户</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 配资列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="/admin/#/one_day_expire_apply"><span class="am-icon-clock-o"></span> 两天内到期配资</a></li>
                        <li><a href="/admin/#/pending_applies"><span class="am-icon-shopping-cart"></span> 审核中的配资</a></li>
                        <li><a href="/admin/#/closing_applies"><span class="am-icon-shopping-cart"></span> 结算中的配资</a></li>
                        <li><a href="/admin/#/loss_apply_list"><span class="am-icon-money"></span> 穿仓的配资</a></li>
                    </ul>
                </li>
                {{#unless watcher}}
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav-2'}"><span class="am-icon-file"></span> 充值订单列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-2">
                            <li><a href="/admin/#/alipay_orders"><span class="am-icon-cart-plus"></span> 支付宝待确认订单</a></li>
                            <li><a href="/admin/#/recharge_orders"><span class="am-icon-cart-plus"></span> 充值订单</a></li>
                            <li><a href="/admin/#/orders_of_alipay"><span class="am-icon-cart-plus"></span> 无法确认的支付宝</a></li>
                        </ul>
                    </li>
                {{/unless}}
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-3'}"><span class="am-icon-file"></span> 配资相关订单列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-3">
                        <li><a href="/admin/#/get_profit_orders"><span class="am-icon-money"></span> 盈利提取的订单</a></li>
                        <li><a href="/admin/#/add_deposit_orders"><span class="am-icon-cart-plus"></span> 追加配资保证金的申请</a></li>
                        <li><a href="/admin/#/return_fee_orders"><span class="am-icon-money"></span> 退还管理费的订单</a></li>
                    </ul>
                </li>
                {{#unless watcher}}
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav-4'}"><span class="am-icon-file"></span> 提现相关订单列表<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-4">
                            <li><a href="/admin/#/withdraw_orders"><span class="am-icon-money"></span> 提现的订单</a></li>
                            <li><a href="/admin/#/waiting_confirm_withdraw_order_list"><span class="am-icon-clock-o"></span> 等待完成提现订单</a></li>
                            <li><a href="/admin/#/orders"><span class="am-icon-cart-plus"></span> 完成提现订单</a></li>
                            <li><a href="/admin/#/freeze_withdraw"><span class="am-icon-question"></span> 冻结提现的订单</a></li>
                        </ul>
                    </li>
                {{/unless}}
                <!--
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-5'}"><span class="am-icon-file"></span> 统计数据<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-5">
                        <li><a href="/admin/#/statistics"><span class="am-icon-bar-chart-o"></span> 网站数据</a></li>
                        <li><a href="/admin/#/sales_statistics"><span class="am-icon-bar-chart-o"></span> 销售数据</a></li>
                    </ul>
                </li>
                -->
                <!--
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-6'}"><span class="am-icon-file"></span> 投资<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-6">
                        <li><a href="/admin/#/contract_list"><span class="am-icon-file-pdf-o"></span> 投资合同</a></li>
                    </ul>
                </li>
                -->
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav-7'}"><span class="am-icon-file"></span> 拍拍机<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-7">
                        <li><a href="/admin/#/ppj_user_list"><span class="am-icon-file-pdf-o"></span> 用户列表</a></li>
                        <li><a href="/admin/#/appoint_user_list"><span class="am-icon-file-pdf-o"></span> 预约实盘用户</a></li>
                        <li><a href="/admin/#/ppj_trade_user_list"><span class="am-icon-file-pdf-o"></span> 实盘中用户</a></li>
                        <li><a href="/admin/#/ppj_statistics"><span class="am-icon-file-pdf-o"></span> 数据</a></li>
                    </ul>
                </li>
                <li><a href="/admin/#/user_complain_list"><span class="am-icon-bar-chart-o"></span> 投诉与建议</a></li>
                <!--<li><a href="/admin/#/my_users"><span class="am-icon-cart-plus"></span> 我接手的客户</a></li>-->
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>操盘中的免费配资总额：{{data.current_free_apply_amount}}</p>
                    <p>累计服务费：{{data.total_fee}}</p>
                    以下均为付费数据
                    <p>累计操盘用户共：<span class="am-text-danger">{{data.history_pay_user_count}}</span> 位</p>
                    <p>累计配资金额：{{data.history_apply_amount}} </p>
                    <p>累计保证金：{{data.history_deposit_amount}} </p>

                    <p>今日操盘中用户：<span class="am-text-danger">{{data.active_pay_user_count}}</span> 位</p>
                    <p>今日操盘中配资金额：{{data.active_apply_amount}} </p>
                    <p>今日操盘中保证金：{{data.active_deposit_amount}} </p>

                    <p>诸君仍需努力。—— 牛金网</p>
                </div>
            </div>

        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div ng-view class="admin-content">
    </div>
    <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{{static '/js/legacy/rem.min.js'}}"></script>
<script src="{{static '/js/legacy/respond.min.js'}}"></script>
<script src="{{static '/js/legacy/amazeui.legacy.js'}}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{static '/vendor/jquery/dist/jquery.js'}}"></script>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.js'}}"></script>
<script src="{{static '/vendor/amazeui/dist/js/amazeui.js'}}"></script>
<script src="{{static '/vendor/moment/moment.js'}}"></script>
<script src="{{static '/vendor/moment/locale/zh-cn.js'}}"></script>
<script src="{{static '/vendor/lodash/lodash.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.js'}}"></script>
<script src="{{static '/js/Chart.min.js'}}"></script>
<script src="{{static '/vendor/angular/angular.js'}}"></script>
<script src="{{static '/vendor/angular-route/angular-route.js'}}"></script>
<script src="{{static '/vendor/angular-resource/angular-resource.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.js'}}"></script>
<!--
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/admin/admin.js'}}"></script>
<script src="{{static '/admin/resources/gbUsers.js'}}"></script>
<script src="{{static '/admin/resources/adminApply.js'}}"></script>
<script src="{{static '/admin/resources/adminOrder.js'}}"></script>
<script src="{{static '/admin/services/gbCachedUsers.js'}}"></script>
<script src="{{static '/admin/controllers/AdminMainCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminUserListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminApplyListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminExpireApplyCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminClosingApplyCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminGetProfitOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminAddDepositOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminPendingApplyCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminWithdrawOrderCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminAlipayOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminMyUserListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminRechargeOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminOrderCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminOrderListOfAlipayCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminSalesStatisticsCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminUserCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminReturnFeeOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminUserComplainListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminFreezeWithdrawOrderListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminContractListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminLossApplyListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminPPJUserListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminAppointUserListCtrl.js'}}"></script>
<script src="{{static '/admin/controllers/AdminPPJTradeUserCtrl.js'}}"></script>
-->
<script src="{{static '/js.min/niujinwang-admin.min.c800289d.js'}}"></script>
<!--<![endif]-->
</body>
