<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">交易记录</strong></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button ng-repeat="item in orderVM.queryItems" type="button" class="am-btn am-btn-default" ng-click="orderVM.queryItem(item)"> \{{item.name}}</button>
            </div>
        </div>
    </div>

    <!--
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
    </div>
    -->
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-date">日期</th><th class="table-type">交易类型</th><th class="table-author">金额</th><th class="table-set">状态</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orderVM.showingItems">
                    <td>\{{order.createdAt | displayDate}}</td>
                    <td>\{{order.dealType | displayOrderType}}</td>
                    <td>\{{order.amount}}</td>
                    <td>\{{order.status | orderStatus}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-show="!order.status" ng-click="orderVM.handleOrder(order)"><span class="am-icon-pencil-square-o"></span> 管理</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="am-cf">
                共 \{{orderVM.totalItems}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="orderVM.itemsPerPage" total-items="orderVM.totalItems" ng-model="orderVM.currentPage" ng-change="orderVM.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="withdrawModal.html">
    <div class="modal-header">
        <h3 class="modal-title">提现银行卡信息</h3>
    </div>
    <div class="modal-body">
        <p>银行卡号：\{{bankName}}</p>
        <p>开户银行：\{{cardID}}</p>
        <p>用户姓名：\{{userName}}</p>
        <div class="am-form-group">
            <label>银行单号:</label>
            <input type="text" ng-model="data.bank_trans_id">
        </div>
        <div class="am-form-group">
            <label for="sms-content">短信内容</label>
            <textarea class="" rows="5" id="sms-content" ng-model="data.sms_content"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">完成提现</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>