<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">拍拍机用户列表</strong> / <small>PPJ Users</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-scrollable-horizontal">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="">头像</th><th class="">微信名</th><th class="">微信uid</th><th class="">今日登陆</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in showingItems">
                        <td><img ng-src="\{{user.wechat.wechat_img}}" width="20%"></td>
                        <td>\{{user.wechat.wechat_name || 'N/A'}}</td>
                        <td>\{{user.wechat.wechat_uuid}}</td>
                        <td>\{{user.wechat.logged ? '是' : '否'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="am-cf">
                共 \{{users.length}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" max-size="maxSize" rotate="false" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>
