<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">数据统计</strong> / <small>statistics</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <p>用户数： <span class="am-text-danger">{{data.userCount}}</span></p>
        <p>今日新增： <span class="am-text-danger">{{data.newUserCount}}</span></p>
        <p>盈利用户数： <span class="am-text-danger">{{data.winUserCount}}</span></p>
        <p>盈利达标用户数： <span class="am-text-danger">{{data.canAppointmentUserCount}}</span></p>
        <p>预约用户数： <span class="am-text-danger">{{data.appointmentUserCount}}</span></p>
        <p>用户当前总盈利：<span class="am-text-danger">{{data.totalProfit}}</span></p>
        <p>盈利平均数： <span class="am-text-danger">{{data.aveProfit}}</span></p>
    </div>
</div>

<script>
</script>
