<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">退还管理费的订单</strong></div>
</div>

<div class="am-g">
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-date">日期</th><th class="table-type">用户</th><th class="table-type">转账单号</th><th class="table-author">金额</th><th class="table-author">描述</th><th class="table-set">状态</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in vm.showingItems">
                    <td>\{{order.createdAt | displayDate}}</td>
                    <td>\{{order.userMobile}}</td>
                    <td>\{{order.bankTransID}}</td>
                    <td>\{{order.amount | currency:'':2}}</td>
                    <td>\{{order.description}}</td>
                    <td>\{{order.status | orderStatus}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                {{#unless watcher}}
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="vm.handleOrder(order)"><span class="am-icon-pencil-square-o"></span> 管理</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="vm.deleteOrder(order)"><span class="am-icon-pencil-square-o"></span> 删除</button>
                                {{/unless}}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="am-cf">
                共 \{{vm.totalItems}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="returnFeeOrderModal.html">
    <div class="modal-header">
        <h3 class="modal-title">确认返还管理费订单</h3>
    </div>
    <div class="modal-body">
        <p>用户名：\{{name}}</p>
        <p>金额：\{{amount | currency:'':2}}</p>
        <p>描述: \{{description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>

<script type="text/ng-template" id="orderDeleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">删除充值订单</h3>
    </div>
    <div class="modal-body">
        <p>用户名：\{{name}}</p>
        <p>转账单号: \{{trans_id}}</p>
        <p>金额：\{{amount | currency:'':2}}</p>
        <p>描述: \{{description}}</p>
        <p>删除后不能恢复，确认吗？</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>