<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">数据统计</strong> / <small>statistics</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <p>用户数： 总数(<span class="am-text-danger">{{data.total_user_num}}</span>)</p>
        <p>用户数： 新增(<span class="am-text-danger">{{data.today_user_num}}</span>)</p>
        <p>操盘中(付费)： 总额(<span class="am-text-danger">{{data.active_apply_amount}}</span>)  笔数(<span class="am-text-danger">{{data.active_apply_num}}</span>)</p>
        <p>操盘中(免费)： 总额(<span class="am-text-danger">{{data.current_free_apply_amount}}</span>)  笔数(<span class="am-text-danger">{{data.current_free_apply_num}}</span>)</p>
        <p>新增配资(免费)： 总额(<span class="am-text-danger">{{data.added_free_apply_amount}}</span>)  笔数(<span class="am-text-danger">{{data.added_free_apply_num}}</span>)</p>
        <p>新增配资(付费)： 总额(<span class="am-text-danger">{{data.added_pay_apply_amount}}</span>)  笔数(<span class="am-text-danger">{{data.added_pay_apply_num}}</span>)</p>
        <p>保证金(当前)： 总额(<span class="am-text-danger">{{data.active_deposit_amount}}</span>)</p>
        <p>保证金(新增)： 总额(<span class="am-text-danger">{{data.added_deposit}}</span>)</p>
        <p>服务费(总额)： <span class="am-text-danger">{{data.total_fee}}</span></p>
        <p>服务费(新增)： <span class="am-text-danger">{{data.added_fee}}</span></p>
    </div>
</div>

