<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新用户列表</strong> / <small>New Users</small></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
            <li>新注册用户<a href="" class="am-text-success"><br/>\{{userVM.users.length}}</a>位</li>
            <li>免费体验<a href="" class="am-text-warning"><br/>\{{userVM.num_of_free_user}}</a>位</li>
            <li>转化用户<a href="" class="am-text-danger"><br/>\{{userVM.num_of_pay_user}}</a>位</li>
        </ul>
        <small><em>付费率</em></small>
        <progressbar animate="false" value="userVM.free_rate" type="success"><b>\{{userVM.free_rate}}%</b></progressbar>
        <small><em>转化率</em></small>
        <progressbar animate="false" value="userVM.pay_rate" type="success"><b>\{{userVM.pay_rate}}%</b></progressbar>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-id">手机号</th><th class="table-title">姓名</th><th class="table-id">配资额</th><th class="table-author">免费配资</th><th class="table-id">余额</th><th>客服人员</th><th class="table-date">注册日期</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userVM.currentUsers">
                    <td>\{{user.mobile}}</td>
                    <td>\{{user.profile.alipay_name || 'N/A'}}</td>
                    <td>\{{user.finance.history_capital | currency:'':2}}</td>
                    <td>\{{user.freeApply ? '是' : '否'}}</td>
                    <td>\{{user.finance.balance | currency:'':2}}</td>
                    <td>\{{user.manager || '还未分配' | displayManager}}</td>
                    <td>\{{userVM.registerDate(user.registerAt)}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="userVM.open(user.mobile)"><span class="am-icon-envelope"></span> 发短信</button>
                                <button class="am-btn am-btn-default am-btn-xs" ng-click="userVM.showApplies(user)"><span class="am-icon-bar-chart"></span> 配资</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="userVM.showOrders(user)"><span class="am-icon-money"></span> 交易</button>
                                <!--
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="userVM.updateBalance(user)"><span class="am-icon-pencil"></span> 修改余额</button>
                                -->
                                <button class="am-btn am-btn-default am-btn-xs am-text-warning" ng-click="userVM.createOrder(user)"><span class="am-icon-pencil"></span> 创建订单</button>
                                <!--
                                <button class="am-btn am-btn-default am-btn-xs am-text-success" ng-click="userVM.takeCustomer(user)"><span class="am-icon-user"></span> 接手客服</button>
                                -->
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="am-cf">
                共 \{{userVM.currentUsers.length}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" max-size="userVM.maxSize" rotate="false" items-per-page="userVM.itemsPerPage" total-items="userVM.totalItems" ng-model="userVM.currentPage" ng-change="userVM.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="userUpdateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">修改用户</h3>
    </div>
    <div class="modal-body">
        <div class="am-form-group">
            <label>增加或减少的余额</label>
            <input type="number" ng-model="user.balance">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认修改</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
