<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>牛金网</title>
    <link rel="alternate icon" type="image/png" href="/images/favicon.ico">
{{#if user_menu}}
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
{{/if}}
    <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    <link rel="stylesheet" href="{{static '/css/common.css'}}">
{{#if main_menu}}
    <link rel="stylesheet" href="{{static '/css/index.css'}}">
{{/if}}
{{#unless main_menu}}
    <link rel="stylesheet" href="{{static '/css/css.css'}}">
{{/unless}}
    <link rel="stylesheet" href="{{static '/css/site2.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/vendor/jquery.Imgfocus.js'}}"></script>
</head>
<body>
<div class="Top">
    <div class="wrapper">
        <div class="fl color_c82217">客服热线：</div>
        <div class="fl color_c82217 TopPhone">400-692-1388</div>
        <div class="fr">
{{#unless user}}
            <a href="/login" class="color_333333">请登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signup" class="color_333333">免费注册</a>&nbsp;&nbsp;<a href="#">帮助中心</a> <a href="#">客服中心</a>
{{else}}
            <span class="am-text-danger">您好,{{#if user.profile.name}} {{user.profile.name}} {{else}} {{user.mobile}} {{/if}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/logout" class="color_333333">退出登录</a>&nbsp;&nbsp;<a href="#">帮助中心</a> <a href="#">客服中心</a>
{{/unless}}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="header">
    <div class="wrapper">
        <a href="#" class="logo"><img src="/images/logo.png"/></a>
        <ul class="nav fr">
            <li {{#if main_menu}} class="select" {{/if}}><a href="/new_index">首页</a></li>
            <li {{#if apply_menu}} class="select" {{/if}}><a href="/new_apply">天天牛</a></li>
            <li {{#if free_apply_menu}} class="select" {{/if}}><a href="/new_free_apply">免费体验</a></li>
            <li {{#if user_menu}} class="select" {{/if}}><a href="/new_user">我的账户</a></li>
        </ul>
    </div>
</div>

{{{body}}}

{{#if main_menu}}
<div class="footer">
{{/if}}
{{#if apply_menu}}
<div class="footer marTop200">
{{/if}}
{{#if free_apply_menu}}
<div class="footer marTop25">
{{/if}}
{{#if user_menu}}
    <div class="footer">
{{/if}}

    <div class="wrapper">
        <div class="footerList fl">
            <p>软件下载</p>
            <ul>
                <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>操盘问题</p>
            <ul>
                <li><a href="#">操盘流程</a></li>
                <li><a href="#">法律保障</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>关于牛金网</p>
            <ul>
                <li><a href="#">公司介绍</a></li>
                <li><a href="#">合作伙伴</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
        </div>
        <div class="fr ewmBox">
            <p><span>&nbsp;</span>官方微信</p>
            <img src="/images/img15.jpg"/>
        </div>
        <div class="fr phoneBox">
            <p class="p01">全国服务热线</p>
            <p class="p02">400-692-1388</p>
            <p class="p03">QQ群1:351531<br />QQ群2:131351</p>
            <div class="icon05"></div>
            <div class="icon06"></div>
        </div>
        <div class="clear"></div>
        <div class="footerText">©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015 <a href="#"> 京ICP备14047091号-4</a></div>
    </div>
</div>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/amazeui/dist/js/amazeui.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/vendor/spark-md5.min.js'}}"></script>
<script src="{{static '/vendor/angular/angular.min.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/app/controllers/MainApplyController.js'}}"></script>
{{#if main_menu}}
        <script src="{{static '/js/index.js'}}"></script>
{{/if}}
{{#if user_menu}}
        <script src="{{static '/vendor/angular-route/angular-route.js'}}"></script>
        <script src="{{static '/vendor/angular-resource/angular-resource.js'}}"></script>
        <script src="{{static '/js/user.js'}}"></script>
        <script src="{{static '/user/user.js'}}"></script>
        <script src="{{static '/user/controllers/UserIndexCtrl.js'}}"></script>
        <script src="{{static '/user/controllers/UserHomeCtrl.js'}}"></script>
{{/if}}

<!--
<script src="http://web.iapppay.com/h5/v1.0/js/aibei_v1.0.3.js"></script>
<script>window._aibeiCloseTxt='返回牛金网';</script>
<script src="http://pv.sohu.com/cityjson"></script>
-->
</body>
</html>
