<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>牛金网</title>
    <link rel="alternate icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{static '/css/common.css'}}">
    <link rel="stylesheet" href="{{static '/css/index.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static 'vendor/jquery.Imgfocus.js'}}"></script>
    <script type="text/javascript">
        $(function () {
            $("#imgFocus").Carousel({
                ImgContentID: "ImgContent", //内容ID;
                ImgListClass: "selectLi", //选中状态css;
                events: "click", //事件，click为鼠标点击,hover为鼠标滑过;
                AutoPlay: true, //自动播放 ，false为不播放;
                speed: 5000, //播放速度;
                Styles: "opa", //移动形式，default为无，Transverse为横向移动,Vertical为纵向,opa透明度渐隐
                mobileSpeed: 500//移动速度;
            });

            $("#jq_moneyList li").click(function () {
                $(this).addClass("select").siblings().removeClass("select");
            })
            $("#jq_qtMoney").click(function () {
                $("#jq_qtmoneyBox").show();
            })
            $("#return_moneyBox").click(function () {
                $("#jq_qtmoneyBox").hide();
                $("#jq_moneyList li").eq(0).addClass("select").siblings().removeClass("select");
            })

            var speed=80; //数字越大速度越慢
            var tab=document.getElementById("demo");
            var tab1=document.getElementById("demo1");
            var tab2=document.getElementById("demo2");
            tab2.innerHTML=tab1.innerHTML; //克隆demo1为demo2
            function Marquee(){
                if(tab2.offsetTop-tab.scrollTop<=0){//当滚动至demo1与demo2交界时
                    tab.scrollTop-=tab1.offsetHeight //demo跳到最顶端
                }
                else{
                    tab.scrollTop++;
                }
            }
            var MyMar=setInterval(Marquee,speed);
            tab.onmouseover=function() {clearInterval(MyMar)};//鼠标移上时清除定时器达到滚动停止的目的
            tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};//鼠标移开时重设定时器
        });
    </script>
</head>
<body>
<div class="Top">
    <div class="wrapper">
        <div class="fl color_c82217">客服热线：</div>
        <div class="fl color_c82217 TopPhone">400-692-1388</div>
        <div class="fr">
            <a href="/login" class="color_333333">请登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/signup" class="color_333333">免费注册</a>&nbsp;&nbsp;<a href="#">帮助中心</a> <a href="#">客服中心</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="wrapper">
    <div class="header">
        <a href="#" class="logo"><img src="images/logo.png"/></a>
        <ul class="nav fr">
            <li><a href="#">天天牛</a></li>
            <li><a href="/free_apply">免费体验</a></li>
            <li class="select"><a href="/user">我的账户</a></li>
        </ul>
    </div>
</div>

{{{body}}}

<div class="footer">
    <div class="wrapper">
        <div class="footerList fl">
            <p>软件下载</p>
            <ul>
                <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>操盘问题</p>
            <ul>
                <li><a href="#">操盘流程</a></li>
                <li><a href="#">法律保障</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>关于牛金网</p>
            <ul>
                <li><a href="#">公司介绍</a></li>
                <li><a href="#">合作伙伴</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
        </div>
        <div class="fr ewmBox">
            <p><span>&nbsp;</span>官方微信</p>
            <img src="images/img15.jpg"/>
        </div>
        <div class="fr phoneBox">
            <p class="p01">全国服务热线</p>
            <p class="p02">400-692-1388</p>
            <p class="p03">QQ群1:351531<br />QQ群2:131351</p>
            <div class="icon05"></div>
            <div class="icon06"></div>
        </div>
        <div class="clear"></div>
        <div class="footerText">©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015 <a href="#"> 京ICP备14047091号-4</a></div>
    </div>
</div>

<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/amazeui/dist/js/amazeui.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/vendor/spark-md5.min.js'}}"></script>
<script src="http://web.iapppay.com/h5/v1.0/js/aibei_v1.0.3.js"></script>
<script>window._aibeiCloseTxt='返回牛金网';</script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="{{static '/vendor/angular/angular.min.js'}}"></script>
<script src="{{static '/js.min/niujinwang-home.min.495f7ec5.js'}}"></script>
<script src="{{static '/app/controllers/MainApplyController.js'}}"></script>

</body>
</html>
