<!DOCTYPE html>
<html>
	<head lang="en">
	<meta charset="UTF-8">
	<title>Home</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<!-- favicon
	<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
	-->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<header class="am-topbar am-topbar-fixed-top">
		<div class="am-container">
			<h1 class="am-topbar-brand">
				<a href="#">Amaze UI</a>
			</h1>

			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
				data-am-collapse="{target: '#collapse-head'}">
				<span class="am-sr-only">导航切换</span>
				<span class="am-icon-bars"></span>
			</button>

			<div class="am-collapse am-topbar-collapse" id="collapse-head">
				<ul class="am-nav am-nav-pills am-topbar-nav">
					<li class="am-active"><a href="/">首页</a></li>
					<li><a href="#">项目</a></li>
				</ul>

            {{#unless user}}
				<div class="am-topbar-right login-elem">
					<a href="/signup" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</a>
				</div>

				<div class="am-topbar-right login-elem">
					<a href="/login" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</a>
				</div>
            {{else}}
                <div class="am-topbar-right">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle> {{#if user.profile.name}} {{user.profile.name}} {{else}} {{user.mobile}} {{/if}} <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            {{/unless}}
			</div>
		</div>
	</header>

    {{> flash}}
	{{{body}}}

	<footer class="footer">
		<p>© 2014 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a
			href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the AmazeUI Team.</p>
	</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/legacy/rem.min.js"></script>
<script src="/js/legacy/respond.min.js"></script>
<script src="/js/legacy/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/vendor/amazeui/dist/js/amazeui.js"></script>
<!--<![endif]-->
</body>
</html>
