<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>牛金网</title>
    <link rel="alternate icon" type="image/png" href="/images/favicon.ico">
{{#if user_menu}}
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
{{else}}
    {{#if recharge}}
        <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    {{else}}
        <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    {{/if}}
{{/if}}
    <link rel="stylesheet" href="{{static '/vendor/toastr/toastr.css'}}">
    <link rel="stylesheet" href="{{static '/css/common.css'}}">
{{#if main_menu}}
    <link rel="stylesheet" href="{{static '/css/index.css'}}">
{{/if}}
{{#unless main_menu}}
    <link rel="stylesheet" href="{{static '/css/css.css'}}">
{{/unless}}
    <link rel="stylesheet" href="{{static '/css/site2.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/vendor/jquery.Imgfocus.js'}}"></script>
</head>
<body>
<div class="Top">
    <div class="wrapper pr">
        <div class="fl color_c82217">客服热线：</div>
        <div class="fl color_c82217 TopPhone">400-692-1388</div>
        <div class="fr">
            &nbsp;&nbsp;&nbsp;<a href="/info/help">帮助中心</a>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="fr khdBox jq_khdBox">
            客户端下载
            <div class="hhdDown undis">
                <ul>
                    <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                    <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                    <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
                </ul>
            </div>
        </div>
        {{#if user}}
        <div class="fr">
            <span class="am-text-danger">您好,{{#if user.profile.name}} {{user.profile.name}} {{else}} {{user.mobile}} {{/if}}</span>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/logout" class="color_333333">退出登录</a>&nbsp;&nbsp;
            <a href="/user#/user_capital?category=0">充值中心</a>&nbsp;&nbsp;&nbsp;
        </div>
    {{/if}}
    {{#unless user}}
        <div class="fr">
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/signup" class="color_333333">免费注册</a>&nbsp;&nbsp;
            <a href="/user#/user_capital?category=0">充值中心</a>&nbsp;&nbsp;&nbsp;
        </div>
    {{#unless login_link}}
        <div class="TopLoginBox fr jq_topLogin">
            请登录
            <div class="loginBox topLoginContet jq_LoginBox undis">
                <form method="POST" action="/login" name="login-form">
                    <div class="loginText loginIncon01">
                        <input type="tel" class="inputLoginText" name="mobile" id="mobile" pattern="1[3|5|7|8|][0-9]{9}" autofocus placeholder="手机号" required>
                    </div>
                    <div class="loginText loginIncon02">
                        <input type="password" class="inputLoginText" name="password" id="password" placeholder="密码,长度6-20位" required>
                    </div>
                    <div class="loginText2">
                        <div class="fl">
                            <label>
                                <input type="checkbox" name="remember-me" id="remember-me">
                                保持登录状态
                            </label>
                        </div>
                        <a href="/forgot">忘记密码？</a>
                    </div>
                    <input type="submit" class="LoginBtn01" value="登录">
                </form>
                <a href="/signup" class="LoginBtn02">免费注册</a>
            </div>
        </div>
    {{/unless}}
    {{/unless}}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="header">
    <div class="wrapper">
        <a href="/" class="logo"><img src="/images/logo.png"/></a>
        <ul class="nav fr">
            <li {{#if main_menu}} class="select" {{/if}}><a href="/">首页</a></li>
{{#if login_link}}
            <li class="select"><a href="/login">登录</a></li>
{{else}}
            <li {{#if apply_menu}} class="select" {{/if}}><a href="/apply">天天牛</a></li>
            <li {{#if free_apply_menu}} class="select" {{/if}}><a href="/free_apply">免费体验</a></li>
            <li {{#if user_menu}} class="select" {{/if}}><a href="/user">我的账户</a></li>
{{/if}}
        </ul>
    </div>
</div>

{{{body}}}

{{#if main_menu}}
<div class="footer">
{{/if}}
{{#if user_menu}}
<div class="footer">
{{/if}}
{{#if apply_menu}}
<div class="footer marTop200">
{{/if}}
{{#if free_apply_menu}}
<div class="footer marTop200">
{{/if}}
{{#if other_menu}}
<div class="footer marTop200">
{{/if}}
{{#if recharge}}
<div class="footer marTop200">
{{/if}}

    <div class="wrapper">
        <div class="footerList fl">
            <p>软件下载</p>
            <ul>
                <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>操盘问题</p>
            <ul>
                <li><a href="/info/">操盘流程</a></li>
                <li><a href="/info/legal">法律保障</a></li>
                <li><a href="/info/help">常见问题</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>关于牛金网</p>
            <ul>
                <li><a href="/info/about">公司介绍</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系方式</a></li>
            </ul>
        </div>
        <div class="fr ewmBox">
            <p><span>&nbsp;</span>官方微信</p>
            <img src="/images/img15.jpg"/>
        </div>
        <div class="fr phoneBox">
            <p class="p01">全国服务热线</p>
            <p class="p02">400-692-1388</p>
            <p class="p03">QQ群1:351531<br />QQ群2:131351</p>
            <div class="icon05"></div>
            <div class="icon06"></div>
        </div>
        <div class="clear"></div>
        <div class="footerText">©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015 <a href="javascript:"> 京ICP备14047091号-4</a></div>
    </div>
</div>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/amazeui/dist/js/amazeui.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/lodash/lodash.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/vendor/spark-md5.min.js'}}"></script>
<script src="{{static '/vendor/angular/angular.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<script src="{{static '/js/common.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/app/controllers/MainApplyController.js'}}"></script>
<script src="{{static '/js/main.js'}}"></script>
{{#if main_menu}}
        <script src="{{static '/js/index.js'}}"></script>
{{/if}}
{{#if user_menu}}
        <script src="{{static '/vendor/angular-route/angular-route.js'}}"></script>
        <script src="{{static '/vendor/angular-resource/angular-resource.js'}}"></script>
        <script src="{{static '/js/user.js'}}"></script>
        <script src="{{static '/user/user.js'}}"></script>
        <script src="{{static '/user/controllers/UserIndexCtrl.js'}}"></script>
        <script src="{{static '/user/controllers/UserHomeCtrl.js'}}"></script>
        <script src="{{static '/user/controllers/UserApplyCtrl.js'}}"></script>
        <script src="{{static '/user/controllers/UserCapitalCtrl.js'}}"></script>
        <script src="{{static '/user/controllers/UserAccountCtrl.js'}}"></script>
{{/if}}
{{#if recharge}}
        <script src="{{static '/vendor/angular-route/angular-route.js'}}"></script>
        <script src="{{static '/vendor/angular-resource/angular-resource.js'}}"></script>
        <script src="{{static '/app/controllers/RechargeCtrl.js'}}"></script>
        <script src="http://pv.sohu.com/cityjson"></script>
{{/if}}

</body>
</html>
