<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="alternate icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    <link rel="stylesheet" href="{{static '/css/common.css'}}">
    <link rel="stylesheet" href="{{static '/css/index.css'}}">
    <link rel="stylesheet" href="{{static '/css/css.css'}}">
    <link rel="stylesheet" href="{{static '/css/site2.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/js/common.js'}}"></script>
    <script src="{{static '/js/register.js'}}"></script>
    <script src="{{static '/vendor/angular/angular.js'}}"></script>
    <script>
        $(function () {
            $(".jq_regInputText").focus(function () {
                $(this).addClass("regInputTextSelected")
            }).blur(function () {
                $(this).removeClass("regInputTextSelected")
            });

            /*
            //重发验证码按钮
            $(".recBtn03").click(function () {
                $(this).addClass("recBtn03_disabled")
                $(this).val("(60)重发验证码")
                $(".jq_p02").show();
            });

            //弹出层关闭
            $(".loginClose").click(function () {
                $(".regTcc").hide();
            });

            //弹出层显示
            $(".submit").click(function () {
                $(".regTcc").show();
            });
            */
        })
    </script>
</head>
<body class="bg_fff">

<div class="header">
    <div class="wrapper">
        <a href="/" class="logo2"><img src="/images/logo.png"/></a>
        <span class="loginSpan">用户{{title}}</span>
    {{#if login}}
        <div class="fr headerText">
            还不是会员 ？ <a href="/signup">立即注册</a> <!--| <a href="#">意见反馈</a>-->
        </div>
    {{/if}}
    </div>
</div>

<div ng-app="registerApp">
{{{body}}}
</div>

{{#if login}}
<div class="footer">
{{/if}}
{{#if signup}}
<div class="footer marTop200">
{{/if}}
    <div class="wrapper">
        <div class="footerList fl">
            <p>软件下载</p>
            <ul>
                <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>操盘问题</p>
            <ul>
                <li><a href="/info/">操盘流程</a></li>
                <li><a href="/info/legal">法律保障</a></li>
                <li><a href="/info/help">常见问题</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>关于牛金网</p>
            <ul>
                <li><a href="/info/about">公司介绍</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系方式</a></li>
            </ul>
        </div>
        <div class="fr ewmBox">
            <p><span>&nbsp;</span>官方微信</p>
            <img src="/images/weixin_code.jpg"/>
        </div>
        <div class="fr phoneBox">
            <p class="p01">全国服务热线</p>
            <p class="p02">400-692-1388</p>
            <p class="p03"><br>客服QQ:4006921388
            <div class="icon05"></div>
            <div class="icon06"></div>
        </div>
        <div class="clear"></div>
        <div class="footerText">©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015 <a href="javascript:"> 京ICP备14047091号-4</a></div>
    </div>
</div>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/app/controllers/RegisterCtrl.js'}}"></script>
</body>
</html>