<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="Robots" content="all">
    <meta name="Keywords" content="股票配资,股票,配资,投资理财,牛金,金牛,牛金网,金牛网,北京小牛,小牛普惠,niujinwang,赚钱,niujin,在线配资,北京小牛普惠科技有限公司">
    <meta name="Description" content=“牛金网是全网最快、资金最充足的股票配资平台，助你在牛市中实现财富爆发式增长，炒股配资，就上牛金！">
    <link rel="alternate icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    <link rel="stylesheet" href="{{static '/css/common.css'}}">
    <link rel="stylesheet" href="{{static '/css/index.css'}}">
    <link rel="stylesheet" href="{{static '/css/css.css'}}">
    <link rel="stylesheet" href="{{static '/css/site2.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/js/common.js'}}"></script>
    <script src="{{static '/js/register.js'}}"></script>
    <script src="{{static '/vendor/angular/angular.min.js'}}"></script>
{{#if production}}
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?109ba7714282741059fa81a8a7d2bd84";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
{{/if}}
    <script>
        $(function () {
            $(".jq_regInputText").focus(function () {
                $(this).addClass("regInputTextSelected")
            }).blur(function () {
                $(this).removeClass("regInputTextSelected")
            });

            $(".rec2_yhkBtn").click(function () {
                $(".jq_rec2_yhBox").toggleClass("rec2_yhBoxSelected")
                $(".jq_rec2_yhkList").slideToggle(200);
            });

            /*
            $(".jq_rec2_yhkTable td").click(function () {
                $(".jq_rec2_yhkBox").html("<img src='"+$(this).find("img").attr("src")+"'/>")
                $(".jq_rec2_yhkTable td span").removeClass("selected");
                $(this).find("span").addClass("selected");
            });
            */

            /*
            $("#yhkList a").click(function () {
                $(this).hide().siblings().show();
                var index=  $(this).index();
                $(".jq_rec2_zflist>div").eq(index).show().siblings().hide();
            })
            */

            /*
            //重发验证码按钮
            $(".recBtn03").click(function () {
                $(this).addClass("recBtn03_disabled")
                $(this).val("(60)重发验证码")
                $(".jq_p02").show();
            });

            //弹出层关闭
            $(".loginClose").click(function () {
                $(".regTcc").hide();
            });

            //弹出层显示
            $(".submit").click(function () {
                $(".regTcc").show();
            });
            */
        })
    </script>
</head>
{{#if recharge}}
<body>
{{else}}
<body class="bg_fff">
{{/if}}

<div class="header">
    <div class="wrapper">
        <a href="/" class="logo2"><img src="/images/logo.png"/></a>
        <span class="loginSpan">{{title}}</span>
    {{#if login}}
        <div class="fr headerText">
            还不是会员 ？ <a href="/signup">立即注册</a> <!--| <a href="#">意见反馈</a>-->
        </div>
    {{/if}}
    {{#if recharge}}
        <div class="fr headerText">
            您好 , <a href="/user" class="a01">{{user_mobile}}</a>  <a href="/logout" class="a02">[退出] </a>
        </div>
    {{/if}}
    </div>
</div>

{{#if recharge}}
<div ng-app="rechargeApp">
{{else}}
<div ng-app="registerApp">
{{/if}}
{{{body}}}
</div>

{{#if login}}
<div class="footer">
{{/if}}
{{#if signup}}
<div class="footer marTop200">
{{/if}}
{{#if recharge}}
<div class="footer marTop200">
{{/if}}
    <div class="wrapper">
        <div class="footerList fl">
            <p>软件下载</p>
            <ul>
                <li><span class="icon02">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_zhuanyeban.exe?fileCode=40&sourceType=4">Windows版</a></li>
                <li><span class="icon03">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4">iOS版</a></li>
                <li><span class="icon04">&nbsp;</span><a href="http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4">Android版</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>操盘问题</p>
            <ul>
                <li><a href="/info/">操盘流程</a></li>
                <li><a href="/info/legal">法律保障</a></li>
                <li><a href="/info/help">常见问题</a></li>
            </ul>
        </div>
        <div class="footerList fl">
            <p>关于牛金网</p>
            <ul>
                <li><a href="/info/about">公司介绍</a></li>
                <li><a href="/info/partners">合作伙伴</a></li>
                <li><a href="/info/contact">联系方式</a></li>
            </ul>
        </div>
        <div class="fr ewmBox">
            <p><span>&nbsp;</span>官方微信</p>
            <img src="/images/weixin_code.jpg"/>
        </div>
        <div class="fr phoneBox">
            <p class="p01">全国服务热线</p>
            <p class="p02">400-692-1388</p>
            <p class="p01">客服QQ</p>
            <p class="p02">4006921388</p>
            <div class="icon05"></div>
            <div class="icon06"></div>
        </div>
        <div class="clear"></div>
        <div class="footerText">©版权所有 北京小牛普惠科技有限公司 All Rights Reserved 2015 <a href="javascript:"> 京ICP备14047091号-4</a></div>
    </div>
</div>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<!--
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/app/controllers/RegisterCtrl.js'}}"></script>
-->
<script src="{{static '/js.min/niujinwang-main.min.207d8855.js'}}"></script>
{{#if recharge}}
<script src="{{static '/vendor/angular-route/angular-route.min.js'}}"></script>
<script src="{{static '/vendor/angular-resource/angular-resource.min.js'}}"></script>
<!--
<script src="{{static '/app/controllers/RechargeCtrl.js'}}"></script>
-->
<script src="{{static '/js.min/niujinwang-recharge.min.ddc0071a.js'}}"></script>
<script src="{{static '/vendor/spark-md5.min.js'}}"></script>
<script src="http://pv.sohu.com/cityjson"></script>
{{/if}}
</body>
</html>
