<div class="am-g">
    <br>
    <div class="am-panel am-panel-default am-u-sm-12 am-u-md-8 am-u-md-centered">
        <div class="am-panel-hd">配资结算</div>
        <div class="am-panel-bd">
            <h2>您的结算申请已经提交，该配资正在结算中，我们会尽快处理</h2>
            <a href="/" class="am-btn am-btn-primary am-btn-lg">返回主页</a>
            <!--
            <div class="am-g confirm-apply">
                <div class="am-u-sm-12 am-u-md-3">
                    <p class="">申请操盘资金：</p>
                    <p class=""><strong class="am-text-danger am-text-xl"><span class="am-icon-rmb"></span>{{applySummary.amount}}</strong>元 </p>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <p>冻结保证金：</p>
                    <p><strong class="am-text-danger am-text-xl"><span class="am-icon-rmb"></span>{{applySummary.deposit}}</strong>元 </p>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <p>已操盘天数：</p>
                    <p><strong class="am-text-danger am-text-xl"><span class="am-icon-rmb"></span>{{applySummary.charge}}</strong>元 </p>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <p>配资结束时间：</p>
                    <p><strong class="am-text-danger am-text-xl"><span class="am-icon-rmb"></span>{{applySummary.charge}}</strong>元 </p>
                </div>
            </div>
            <div class="apply am-g">
                <div class="money_je am-u-sm-10 pull-right"> 总金额：<span class="am-icon-rmb"></span><span id="span_all">{{applySummary.total}}</span>元</div>
            </div>
            <div class="apply am-g">
                <div class="money_je am-u-sm-10 pull-right"> 账户可用余额：<span class="am-icon-rmb"></span><span id="span_all">{{applySummary.balance}}</span>元</div>
            </div>
            <hr>
            <div class="apply am-g">
                {{#unless applySummary.useBalance}}
                    <div class="money_je am-u-sm-10 pull-right"> 还需支付：<span class="am-icon-rmb"></span><span id="span_all">{{applySummary.shouldPay}}</span>元</div>
                {{else}}
                    <div class="money_je am-u-sm-10 pull-right"> 余额支付：<span class="am-icon-rmb"></span><span id="span_all">{{applySummary.total}}</span>元</div>
                {{/unless}}
            </div>
            -->
        </div>
    </div>
</div>