<div class="header login-header">
    <div class="am-g">
        <h1>我要操盘</h1>
    </div>
</div>
<div class="am-g" ng-app="applyApp" ng-controller="ApplyController as vm">
    <div class="am-u-sm-12 am-u-md-10 am-u-sm-centered">
        <section class="am-panel am-panel-default" ng-cloak>
            <header class="am-panel-hd">
                <h3 class="am-panel-title">选择操盘资金</h3>
            </header>
            <div class="am-panel-bd apply">
                <span><strong>请选择申请资金:</strong></span>
                <ul class="am-avg-sm-2 am-avg-md-4 am-margin am-padding am-text-center admin-content-list">
                    <li ng-repeat="item in vm.amountList">
                        <a href="javascript:;" ng-click="vm.selectAmount(item)" ng-class="{selected: item.select}"><span>\{{item.name}}</span>实盘资金</a>
                    </li>
                    <li class="am-vertical-align" style="height: 80px;"><button id="apply-other-amount" type="button" class="am-btn am-btn-danger am-vertical-align-middle" ng-click="vm.toggleOtherAmount()">其他金额</button></li>
                </ul>
                <div class="am-margin am-padding am-text-center am-panel-group" id="accordion" ng-show="vm.showOtherAmount">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#other-amount'}">
                                其他金额
                            </h4>
                        </div>
                        <div id="other-amount" class="am-panel-collapse am-collapse am-in">
                            <div class="am-panel-bd">
                                <form class="am-form am-form-horizontal">
                                    <div class="am-form-group">
                                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">输入需要的金额：</label>
                                        <div class="am-u-sm-10 am-input-group">
                                            <input type="number" placeholder="最少两千，最多三十万" class="am-form-field" min="\{{vm.min_amount}}" max="300000" step="1000" ng-model="vm.otherAmount" ng-blur="vm.finishOtherAmount()">
                                            <span class="am-input-group-label">元</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <span>请选择使用天数:</span>
                <ul class="am-avg-sm-2 am-avg-md-4 am-margin am-padding am-text-center admin-content-list day">
                    <li ng-repeat="day in vm.dayList">
                        <a href="javascript:;" id="2000" ng-click="vm.selectDay(day)" ng-class="{selected: day.select}"><span>\{{day.value}}/交易日</span></a>
                    </li>
                </ul>
                -->
                <div class="am-form-group">
                    <label for="doc-select-1">请选择使用天数:</label>
                    <select id="doc-select-1" ng-model="vm.summary.day" ng-change="vm.selectDay()">
                        <option value="2">2天</option>
                        <option value="3">3天</option>
                        <option value="4">4天</option>
                        <option value="5">5天</option>
                        <option value="6">6天</option>
                        <option value="7">7天</option>
                        <option value="8">8天</option>
                        <option value="9">9天</option>
                        <option value="10">10天</option>
                        <option value="11">11天</option>
                        <option value="12">12天</option>
                        <option value="13">13天</option>
                        <option value="14">14天</option>
                        <option value="15">15天</option>
                        <option value="16">16天</option>
                        <option value="17">17天</option>
                        <option value="18">18天</option>
                        <option value="19">19天</option>
                        <option value="20">20天</option>
                        <option value="21">21天</option>
                        <option value="22">22天</option>
                        <option value="23">23天</option>
                        <option value="24">24天</option>
                        <option value="25">25天</option>
                        <option value="26">26天</option>
                        <option value="27">27天</option>
                        <option value="28">28天</option>
                        <option value="29">29天</option>
                        <option value="30">30天</option>
                    </select>
                    <span class="am-form-caret"></span>
                </div>

                <div class="am-g">
                    <div class="money_showtab am-margin am-u-sm-11">
                        <div class="mstit">申请确认</div>
                        <table class="apply_table" rules="none">
                            <tbody>
                            <tr>
                                <td class="msli">操盘须知：<span>投资沪深A股，仓位不限制，盈利全归您</span></td>
                                <td>申请金额：<span><span>￥<span id="span_amount" class="am-text-danger am-text-xl">\{{vm.summary.amount}}</span></span>元</span></td>
                            </tr>
                            <tr>
                                <td>使用天数：<span><span id="span_usetrem" class="am-text-danger am-text-xl">\{{vm.summary.day}}</span>天</span></td>
                                <td class="msli">资金使用时间：<span>截至<span id="span_endtime" class="am-text-danger am-text-xl">\{{vm.endTime.format('YYYY-MM-DD')}}</span>下午\{{vm.endTime.format('HH:mm:ss')}}（可延期）</span></td>
                            </tr>
                            <tr>
                                <td>警戒线<span id="tip" data-am-popover="{content: '当保证金为实盘资金的5%为警戒线', trigger: 'hover focus'}" class="am-icon-question-circle" style="cursor: pointer;"></span>：<span><span>￥<span id="span_warn" class="am-text-danger am-text-xl">\{{vm.summary.warnValue.toFixed(2)}}</span></span>元</span></td>
                                <td>平仓线<span id="tip1" data-am-popover="{content: '当保证金为实盘资金的3%为平仓线', trigger: 'hover focus'}" class="am-icon-question-circle" style="cursor: pointer;"></span>：<span><span>￥<span id="span_sell" class="am-text-danger am-text-xl">\{{vm.summary.sellValue.toFixed(2)}}</span></span>元</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="am-g">
                    <div class="money_js am-margin am-padding am-u-sm-11">
                        冻结保证金 <i id="bond_tip" data-am-popover="{content: '您需要支付的保证金，为实盘资金的1/10，用于盈亏结算。', trigger: 'hover focus'}" class="am-icon-question-circle" style="cursor: pointer;"></i>：<span>￥</span><span id="span_bond">\{{vm.summary.deposit.toFixed(2)}}</span>元<br>
                        预存账户管理费(按天收取，周末节假日免费) <i id="rate_tip" data-am-popover="{content: '您需要支付的账户管理费，用几天算几天，先使用、后扣费。', trigger: 'hover focus'}" class="am-icon-question-circle" style="cursor: pointer;"></i>：<span>￥</span><span id="span_rate">\{{vm.summary.charge.toFixed(2)}}</span>元
                    </div>
                </div>

                <div class="am-g">
                    <div class="money_je am-u-sm-11">共需支付: <span>￥</span><span id="span_all">\{{vm.summary.total.toFixed(2)}}</span>元</div>
                </div>

                <div class="am-g">
                    <form class="am-form-inline am-u-sm-11" role="form" data-am-validator name="applyForm">
                        <div class="am-checkbox">
                            <label>
                                <input name="agree" type="checkbox" required ng-model="vm.agree"> 我同意<a href="#">《牛金网配资参与规则》</a>
                            </label>
                        </div>

                        <button type="submit" class="am-btn am-btn-warning" ng-click="vm.submitApply()" ng-disabled="applyForm.$invalid">立即提交申请</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
