<div class="am-g">
    <br>
    <div class="am-panel am-panel-default am-u-sm-12 am-u-md-8 am-u-md-centered">
        <div class="am-panel-hd">充值确认</div>
        <div class="am-panel-bd">
            <div class="apply am-g">
                <div class="money_je am-u-sm-10 pull-right"> 您要充值：<span class="am-icon-rmb"></span><span id="span_all">{{order.amount}}</span>元</div>
            </div>
            <div class="apply am-g">
                <div class="money_je am-u-sm-10 pull-right"> 充值后账户余额：<span class="am-icon-rmb"></span><span id="span_all">{{balance}}</span>元</div>
            </div>
            <hr>
            <div class="apply am-g">
                    <div class="money_je am-u-sm-10 pull-right"> 共需支付：<span class="am-icon-rmb"></span><span id="span_all">{{order.amount}}</span>元</div>
            </div>

            <form name="financingForm">
                <input type="hidden" name="pay_amount" id="pay_amount" value="{{order.amount}}">
                <input type="hidden" name="order_id" id="order_id" value="{{order._id}}">
                <input type="hidden" name="user_id" id="user_id" value="{{user._id}}">
                {{#if order.transID}}
                    <input type="hidden" name="trans_id" id="trans_id" value="{{order.transID}}">
                {{/if}}
            </form>

            <form action="https://mas.sdo.com/web-acquire-channel/cashier.htm" method="POST" id="shengPayForm" name="shengPayForm">
                <input type="hidden" name="Name" id="Name" value="B2CPayment">
                <input type="hidden" name="Version" id="Version" value="V4.1.1.1.1">
                <input type="hidden" name="Charset" id="Charset" value="UTF-8">
                <input type="hidden" name="MsgSender" id="MsgSender" value="100894">
                <input type="hidden" name="OrderNo" id="OrderNo" value="{{order._id}}">
                <input type="hidden" name="OrderAmount" id="OrderAmount" value="{{order.amount}}">
                <input type="hidden" name="OrderTime" id="OrderTime" value="{{shengOrderTime}}">
                <input type="hidden" name="PageUrl" id="PageUrl" value="http://test.niujinwang.com/thank_you_for_pay">
                <input type="hidden" name="BackUrl" id="BackUrl" value="http://test.niujinwang.com/pay_confirm/{{order._id}}">
                <input type="hidden" name="NotifyUrl" id="NotifyUrl" value="http://test.niujinwang.com/api/shengpay_feedback">
                <input type="hidden" name="ProductName" id="ProductName" value="股票配资">
                <input type="hidden" name="BuyerIp" id="BuyerIp">
                <input type="hidden" name="Ext1" id="Ext1" value="54ffbd47904b2e6328860edb">
                <input type="hidden" name="SignType" id="SignType" value="MD5">
                <input type="hidden" name="SignMsg" id="SignMsg">
            </form>

            <div class="am-g">
                <div class="am-u-sm-6 pull-right">
                    <select id="pay-select" data-am-selected="{btnSize: 'sm'}">
                        <option value="option1">使用盛付通支付</option>
                        <option value="option2">使用爱贝支付</option>
                    </select>
                    <span class="am-form-caret"></span>
                    <button id="go-to-pay" type="submit" class="am-btn am-btn-warning"> 立即支付 </button>
                </div>
            </div>

            <div class="am-modal am-modal-confirm" tabindex="-1" id="pay-confirm">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">充值确认</div>
                    <div class="am-modal-bd">
                        <h2>请您在新打开的第三方支付页面上完成前请不要关闭此窗口</h2>
                        完成支付后请根据您的情况点击下面的按钮：
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel>支付遇到问题</span>
                        <span class="am-modal-btn" data-am-modal-confirm>已完成支付</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>