{{#if bootstrappedNiujinUserID}}
    <script> window.bootstrappedNiujinUserID = {{{bootstrappedNiujinUserID}}} </script>
{{/if}}
<div class="wrapper paddTop30" ng-app="rechargeApp" ng-controller="RechargeCtrl as vm" ng-cloak>
    <div class="rectitle">选择充值方式：</div>
    <div class="recMenuBox" id="">
        <div class="fl">
            &nbsp;
        </div>
        <div class="fl" id="menu">
            <span ng-repeat="type in vm.payTypes" ng-class="{select: vm.currentPayType === type.value}" ng-click="vm.selectPayType(type)">\{{type.name}}</span>
        </div>
    </div>
    <div class="recMainBox" id="recMainBox">
        <div class="animate-switch-container" ng-switch on="vm.currentPayType">
            <div class="animate-switch" ng-switch-default>
                <div class="wyRec">
                    <div class="recMoneyBox">
                        <div class="recMoneyLeft fl">
                            <div class="recMoneyText">
                                <div class="recMoneyTextLeft fl">
                                    充值金额：
                                </div>
                                <div class="fl">
                                    <input type="number" ng-model="vm.pay_amount" min="0" step="100" autofocus ng-disabled="vm.pay_for_apply">
                                元
                                </div>
                            </div>
                            <p ng-show="vm.pay_for_apply" class="p01">&nbsp;当前充值相关的配资单号：\{{vm.pay_order.applySerialID}},保证金和管理费还需支付\{{vm.pay_amount | currency:'':2}}</p>
                        </div>
                        <div class="fl recMoneyRight">
                            <p class="p01">当前可用余额为：</p>
                            <p class="p02">￥<span>\{{vm.user.finance.balance | currency:'':2}}</span></p>
                            <!--
                            <p class="p03">其中冻结100,000元，可用32,789.45元</p>
                            -->
                        </div>
                    </div>
                    <div class="recMenuBox marTop25" id="yhkMenu">
                        <span ng-class="{select: !vm.useCredit}" ng-click="vm.changeCardType(false)">储蓄卡支付</span>
                        <!--
                        <span ng-class="{select: vm.useCredit}" ng-click="vm.changeCardType(true)">信用卡支付</span>
                        -->
                    </div>
                    <div class="paddTop30" id="yhkList">
                        <div class="yhList">
                            <ul>
                                <li ng-repeat="bank in vm.BankNameList">
                                    <label>
                                        <input type="radio" name="yh" ng-click="vm.selectPayBank(bank)" ng-checked="vm.payBank === bank.value">
                                        <span><img ng-src="\{{bank.img}}"/></span>
                                    </label>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <p class="recP03">温馨提示：<br />如果没有适合您的网银，可以通过线下汇款支付</p>
                    <alert ng-repeat="alert in vm.alerts" type="\{{alert.type}}" close="vm.closeAlert($index)">\{{alert.msg}}</alert>
                    <a href="" class="recBtn01 jq_recBtn02" ng-click="vm.onlinePay()">下一步</a>
                </div>
            </div>
            <div class="animate-switch" ng-switch-when="1">
            <div class="wyRec">
                <div class="jq_zfb01" ng-hide="vm.alipayConfirm">
                    <div class="recMoneyBox zfbMoneyBox">
                        <div class="recMoneyLeft zfbMoneyLeft fl">
                            <p ng-show="vm.pay_for_apply" class="p01">&nbsp;当前充值相关的配资单号：\{{vm.pay_order.applySerialID}},保证金和管理费至少还需支付\{{vm.pay_amount | currency:'':2}}</p>
                            <div class="recMoneyText zfbMoneyText">
                                <div class="recMoneyTextLeft fl">&nbsp;&nbsp;&nbsp;充值金额：</div>
                                <input type="number" placeholder="请输入充值金额" ng-model="vm.pay_amount" autofocus ng-disabled="vm.pay_for_apply" class="dis fl" required>
                                <div class="fl">&nbsp;元</div>
                            </div>
                            <div class="recMoneyText zfbMoneyText ">
                                <div class="recMoneyTextLeft fl">支付宝账户：</div>
                                <input type="text" placeholder="请输入支付宝账户" class="dis fl zfbMoneyInputText" ng-model="vm.alipay_account" required>
                                <div class="zfbImg fl"></div>
                            </div>
                            <div class="recMoneyText zfbMoneyText ">
                                <div class="recMoneyTextLeft fl">姓名：</div>
                                <input name="alipay_name" type="text" placeholder="支付宝实名认证姓名" ng-model="vm.alipay_name" autofocus class="dis fl" required>
                            </div>
                            <p class="p02">该账户是核对转账的唯一凭据，请确认该账户与实际转账支付宝账户一致！</p>
                        </div>
                        <div class="fl recMoneyRight">
                            <p class="p01">当前可用余额为：</p>
                            <p class="p02">￥<span>\{{vm.user.finance.balance | currency:'':0}}</span>\{{vm.user.finance.balance | numTrunc}}</p>
                        </div>
                    </div>
                    <alert ng-repeat="alert in vm.alerts" type="\{{alert.type}}" close="vm.closeAlert($index)">\{{alert.msg}}</alert>
                    <a href="" class="recBtn01 jq_recBtn02" ng-click="vm.aliPay()">下一步</a>
                </div>
                <div class="zfbBox jq_zfbBox" ng-show="vm.alipayConfirm">
                    <div class="zfbLeft fl">
                        <div class="zfbText">
                            <p>您的支付宝账户：<em class="fb">\{{vm.alipay_account}}</em></p>
                            <p>您本次转账金额：<span class="color_f2991b">￥<span>\{{vm.pay_amount | currency:'':2}}</span></span></p>
                        </div>
                        <div class="zfbText2">
                            <p class="color_c82217">用手机支付宝扫一扫</p>
                            <p>快速转账，免手续费</p>
                            <img src="/images/zfb_pay.jpg"/>
                        </div>
                    </div>
                    <div class="zfbRight fl">
                        <div class="zfbText zfbText3 pr">
                            <p>收款人支付宝账户：<em class="em01" id="zfbZh">chongzhi@niujinwang.com</em>
                            <!--<div class="zfbfzimg"></div>-->
                            </p>
                            <p>收款人账户名称：<em class="fb color_c82217">北京小牛普惠科技有限公司</em></p>
                        </div>
                        <div class="zfbText2">
                            <p class="color_c82217">您还可以</p>
                            <p>登录支付宝网站付款</p>
                            <a href="https://shenghuo.alipay.com/send/payment/fill.htm" target="_blank"><img class="img01" src="/images/zfb2.jpg"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="animate-switch" ng-switch-when="2">
                <div class="wyRec">
                    <div class="recMoneyBox">
                        <div class="recMoneyLeft fl">
                            <div class="fl recYhLeft">
                                <p class="p02">您可以汇款给牛金</p>
                                <img src="/images/yh/cmb.png"/>
                            </div>
                            <div class="recText fl">
                                <p class="p03">对公账号：<span class="fb">1109 1260 9510 501</span></p>
                                <p>开户行：<span class="fb">招商银行股份有限公司北京清华园支行</span></p>
                                <p>户名：<span class="fb">北京小牛普惠科技有限公司</span></p>
                                <br>
                                <p class="am-text-danger">提示：转账完成后请联系客服(400-692-1388)进行确认</p>
                            </div>
                        </div>
                        <div class="fl recMoneyRight">
                            <p class="p04">将转账相关信息发送到我的手机</p>
                            <a href="" class="recBtn02" ng-click="vm.sendSMSBandInfo()">发送到手机</a>
                        </div>
                    </div>
                    <alert ng-repeat="alert in vm.alerts" type="\{{alert.type}}" close="vm.closeAlert($index)">\{{alert.msg}}</alert>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>

<div class="undis" id="tckBox">
    <div class="tmbg"></div>
    <div class="PopupBox">
        <p class="p01"><span class="icon07"></span>&nbsp;请在新打开的银行页面中完成网上付款</p>
        <p class="p02">1、付款过程中请不要关闭这个窗口；</p>
        <p class="p02">2、完成付款后请执行相应操作。</p>
        <div class="applyBtnBox2">
            <a href="success.html" class="applyBtn02 marRight20">已完成付款</a>
            <a href="" class="applyBtn03">修改付款方式</a>
        </div>
        <p class="p03"><a href="" class="color_c82217">付款遇到问题？</a></p>
    </div>
</div>


<form action="https://mas.sdo.com/web-acquire-channel/cashier.htm" method="POST" id="shengPayForm" name="shengPayForm">
    <input type="hidden" name="Name" id="Name" value="B2CPayment">
    <input type="hidden" name="Version" id="Version" value="V4.1.1.1.1">
    <input type="hidden" name="Charset" id="Charset" value="UTF-8">
    <input type="hidden" name="MsgSender" id="MsgSender" value="443818">
    <input type="hidden" name="OrderNo" id="OrderNo" >
    <input type="hidden" name="OrderAmount" id="OrderAmount" >
    <input type="hidden" name="OrderTime" id="OrderTime" >
    <input type="hidden" name="PayType" id="PayType" value="PT001">
    <input type="hidden" name="PayChannel" id="PayChannel">
    <input type="hidden" name="InstCode" id="InstCode">
    <input type="hidden" name="PageUrl" id="PageUrl" value="{{callback_domain}}/thank_you_for_pay">
    <input type="hidden" name="BackUrl" id="BackUrl" value="{{callback_domain}}/pay_confirm/{{order._id}}">
    <input type="hidden" name="NotifyUrl" id="NotifyUrl" value="{{callback_domain}}/api/shengpay_feedback">
    <input type="hidden" name="ProductName" id="ProductName" value="股票配资">
    <input type="hidden" name="BuyerIp" id="BuyerIp">
    <input type="hidden" name="SignType" id="SignType" value="MD5">
    <input type="hidden" name="SignMsg" id="SignMsg">
</form>
