<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>第三方支付</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- favicon
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    -->
    <link rel="stylesheet" href="{{static '/vendor/amazeui/dist/css/amazeui.min.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.js'}}"></script>
    <script>
        $(function() {
            $('#close-btn').on('click', function() {
                window.close();
            });
        });
    </script>
</head>
<body>

<div>
    <p>第三方支付</p>
    <button id="close-btn" class="am-btn am-btn-success">确认</button>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{{static '/js/legacy/rem.min.js'}}"></script>
<script src="{{static '/js/legacy/respond.min.js'}}"></script>
<script src="{{static '/js/legacy/amazeui.legacy.js'}}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.js'}}"></script>
<script src="{{static '/vendor/angular/angular.js'}}"></script>
<script src="{{static '/vendor/amazeui/dist/js/amazeui.js'}}"></script>
<!--<![endif]-->
</body>
</html>