<div class="fl tra_right">
    <div class="tra_column">
        <span class="dis fl">账号设置</span>
    </div>
    <div class="set_Top">
        账号 <span class="span01">\{{accountVM.user.mobile | displayMobile}}</span> <a href="" class="color_2489f0" ng-click="accountVM.showResetPasswordWindow = true">修改密码</a>
        <span class="span02">上次登录时间：{{lastLogin}}</span>
    </div>
    <div ng-hide="accountVM.card">
        <div class="set_img2 fl"></div>
        <div class="set_text2 fl">
            <a href="/user/#/add_card" class="set_btn01">绑定银行卡</a>
            <p class="p01">
                绑定银行卡后才能提现
            </p>
        </div>
    </div>
    <div ng-show="accountVM.card">
        <div class="set_img fl"></div>
        <div class="set_text fl">
            <p class="p01">
                <span>银行卡</span>
                <span class="span01"><img ng-src="\{{accountVM.BankNameList[accountVM.card.bankID].img}}"></span>
                <span class="color_666666 fontSize12">尾号 \{{accountVM.card | displayCard2}}</span>
            </p>
            <a href="/user/#/add_card" class="color_2489f0 a01">修改银行卡</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="set_list">
        <div class="fl set_lstLeft">
            <span class="span01">邮箱 \{{(accountVM.user.profile.email | displayEmail)}} </span>
            <a href="" class="color_2489f0" ng-click="accountVM.showVerifyEmailWindow = true">\{{accountVM.user.profile.email_verified ? '修改' : '绑定'}}</a>
        </div>
        <!--
        <div class="fl set_lstLeft set_lstRight">
            <span class="span01">微信（138****8888)</span>
            <span class="color_999999 fontSize12">已绑定</span>
        </div>
        -->
    </div>
</div>

<div class="regTcc jq_recTcc jq_emailBox" ng-show="accountVM.showVerifyEmailWindow === true">
    <div class="tmbg"></div>
    <div class="tar_TccBox">
        <div class="regColumn">
            绑定邮箱
            <div class="loginClose jq_loginClose" ng-click="accountVM.closeEmailWindow()"></div>
        </div>
        <div class="pass_Box jq_email1" ng-hide="accountVM.emailChangeSuccess">
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    电子邮箱
                </div>
                <div class="pass_right fl">
                    <input type="email" class="newcar_inputText pass_inputText" ng-model="accountVM.user_email" required>
                    <span class="color_999999">请输入电子邮箱地址</span>
                </div>
            </div>
            <div class="pass_formBox">
                <div class="fl pass_left">
                    图形验证码
                </div>
                <div class="pass_right fl">
                    <input type="text" placeholder="输入验证码,不区分大小写" name="img_password" class="newcar_inputText pass_inputText" id="img-pwd" minlength="6" maxlength="6" required ng-model="accountVM.img_code">
                    <img id="img_code" style="-webkit-user-select: none; height: 30px; width: 130px; cursor: pointer" src="/api/get_verify_img" ng-click="accountVM.imgClicked($event)">
                </div>
            </div>
            <div class="pass_formBox">
                <div class="fl pass_left">
                    邮箱验证码
                </div>
                <div class="pass_right fl">
                    <input type="text" class="newcar_inputText pass_inputText" ng-model="accountVM.verify_code" required>
                    <input type="button" class="recBtn03" id="verify-code-btn" value="\{{accountVM.verifyCodeBtnText}}" ng-class="{recBtn03_disabled:accountVM.verifyBtnDisabled}" ng-click="accountVM.getVerifyCode()">
                </div>
            </div>
            <alert ng-repeat="alert in accountVM.alerts" type="\{{alert.type}}" close="accountVM.closeAlert($index)">\{{alert.msg}}</alert>
            <a class="newrec_btn02 newrec_zfbbtn01 jq_Btn02" href="" ng-click="accountVM.verifyEmailBySMSCode()">提  交</a>
        </div>
        <div class="pass_box2 jq_email2" ng-show="accountVM.emailChangeSuccess">
            <div class="pass_img fl"></div>
            <div class="pass_text fl">
                <p class="p01">邮箱绑定成功！</p>
                <a class="newrec_btn02 " href="" ng-click="accountVM.closeEmailWindow()">确   定</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="regTcc jq_recTcc jq_passBox" ng-show="accountVM.showResetPasswordWindow">
    <div class="tmbg"></div>
    <div class="tar_TccBox">
        <div class="regColumn">
            修改登陆密码
            <div class="loginClose jq_loginClose" ng-click="accountVM.closePassWindow()"></div>
        </div>
        <div class="pass_Box jq_pass_Box" ng-hide="accountVM.passwordChangeSuccess">
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    原密码
                </div>
                <div class="pass_right fl">
                    <input type="password" class="newcar_inputText pass_inputText" ng-model="accountVM.password" minlength="6" maxlength="20" required>
                    <span class="color_999999">请输入登陆密码</span>
                </div>
            </div>
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    新密码
                </div>
                <div class="pass_right fl">
                    <input type="password" class="newcar_inputText pass_inputText" ng-model="accountVM.new_password" minlength="6" maxlength="20" required>
                </div>
            </div>
            <div class=" pass_formBox">
                <div class="fl pass_left">
                    确认新密码
                </div>
                <div class="pass_right fl">
                    <input type="password" class="newcar_inputText pass_inputText" ng-model="accountVM.confirm_password" minlength="6" maxlength="20" required>
                </div>
            </div>
            <alert ng-repeat="alert in accountVM.alerts" type="\{{alert.type}}" close="accountVM.closeAlert($index)">\{{alert.msg}}</alert>
            <a class="newrec_btn02 newrec_zfbbtn01 jq_Btn01" href="" ng-click="accountVM.changePassword()">提  交</a>
        </div>
        <div class="pass_box2 jq_pass_box2" ng-show="accountVM.passwordChangeSuccess">
            <div class="pass_img fl"></div>
            <div class="pass_text fl">
                <p class="p01">登陆密码修改成功！</p>
                <a class="newrec_btn02 " href="" ng-click="accountVM.closePassWindow()">确   定</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!--修改微信弹出层-->
<!--
<div class="regTcc jq_recTcc jq_wxBox undis ">
    <div class="tmbg"></div>
    <div class="tar_TccBox wx_tccbox">
        <div class="regColumn">
            绑定微信
            <div class="loginClose jq_loginClose"></div>
        </div>
        <div class="wx_box">
            <p class="p01">微信扫描二维码完成绑定账号，您可以随时获取收益信息</p>
            <img src="../images/img55.jpg"/>
            <p class="p02">请使用微信扫一扫绑定账号</p>
        </div>
    </div>
</div>
-->
