<div class="fl tra_right">
    <div class="tra_column">
        <span class="dis fl">绑定新的银行卡</span>
    </div>
    <div class="newcar_formBox marTop65">
        <div class="newCar_left fl">
            开户行
        </div>
        <div class="newcar_right fl ">
            <!--
            <select class="select01" ng-model="cardVM.bankSel">
                <option value="">请选择银行</option>
                <option ng-repeat="bank in cardVM.BankNameList" value="\{{bank.value}}">\{{bank.name}}</option>
            </select>
            -->
            <select class="inputSelect" ng-model="cardVM.bankObj"
                    ng-options="item as item.name for item in cardVM.BankNameList"></select>
        </div>
    </div>
    <div class="newcar_formBox">
        <div class="newCar_left fl">
            开户行所在地
        </div>
        <div class="newcar_right fl ">
            <select class="select01 select02" ng-model="cardVM.currentProvince" ng-options="item as item.name for item in cardVM.province" ng-change="cardVM.provinceChange()">
            </select>
            <select class="select01 select02" ng-model="cardVM.currentCity" ng-options="item as item.name for item in cardVM.currentProvince.sub">
            </select>
            <!--
            <select name="" class="select01 select03">
                <option value="">请选择开户网点</option>
            </select>
            -->
        </div>
    </div>
    <div class="newcar_formBox">
        <div class="newCar_left fl">
           支行名称
        </div>
        <div class="newcar_right fl ">
            <input type="text" class="newcar_inputText" placeholder="请输入" ng-model="cardVM.bankName">
        </div>
    </div>
    <div class="newcar_formBox">
        <div class="newCar_left fl">
            银行卡号
        </div>
        <div class="newcar_right fl ">
            <input type="text" class="newcar_inputText" minlength="16" maxlength="19" placeholder="16到19位的卡号" ng-model="cardVM.cardID" required>
        </div>
        <div class="get-num-box">
            <span>1</span><span>2</span><span>3</span><em class="space"></em><span>2</span><span>1</span><span>2</span>
        </div>
    </div>
    <!--
    <div class="newcar_formBox">
        <div class="newCar_left fl">
            确认银行卡号
        </div>
        <div class="newcar_right fl ">
            <input type="text" class="newcar_inputText" minlength="16" maxlength="19" placeholder="16到19位的卡号" ng-model="cardVM.cardID" required>
        </div>
    </div>
    -->
    <div class="newcar_formBox">
        <div class="newCar_left fl">
            开户名
        </div>
        <div class="newcar_right fl ">
            <input type="text" class="newcar_inputText newcar_inputText2" placeholder="持卡人姓名" ng-model="cardVM.bankUserName" required>
        </div>
    </div>
    <alert ng-repeat="alert in cardVM.alerts" type="\{{alert.type}}" close="cardVM.closeAlert($index)">\{{alert.msg}}</alert>
    <p class="color_red">请仔细核对每一项信息，确保无误，方能顺利提现。</p>
    <a href="" class="recBtn01 newcar_btn jq_newcar_btn" ng-click="cardVM.addCard()">保存</a>
</div>

<div class="regTcc" ng-show="cardVM.show_verify_window">
    <div class="tmbg"></div>
    <div class="regTccBox">
        <div class="regColumn">
            绑定银行卡验证
            <div class="loginClose" ng-click="cardVM.show_verify_window=false"></div>
        </div>
        <p class="p01">已经向<span>\{{cardVM.user.mobile | displayMobile}}</span>发送短信，请再输入验证码完成银行卡绑定</p>
        <div class="regInputBox">
            <div class="regInputLeft fl">
                请输入短信验证码
            </div>
            <div class="regIputRight fl">
                <input type="text" ng-model="cardVM.verify_code" ng-focus="cardVM.verify_code_error = false" class="inputText regInputText jq_regInputText" required>
                <input type="button" name="" id="verify-code-btn" value="\{{cardVM.verifyCodeBtnText}}" class="recBtn03" ng-class="{recBtn03_disabled:cardVM.verifyBtnDisabled}" ng-click="cardVM.getVerifyCode()">
            </div>
        </div>
        <p class="p02"><span class="jq_p02" ng-show="cardVM.verify_code_error">\{{cardVM.verify_error_msg}}</span></p>
        <input type="button" ng-click="cardVM.confirmVerifyCode()" value="确定" class="recBtn04">
    </div>
</div>
