<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">操盘记录</strong></div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button ng-repeat="item in applyVM.queryItems" type="button" class="am-btn am-btn-default" ng-click="applyVM.queryItem(item)"> \{{item.name}}</button>
            </div>
        </div>
    </div>
    <!--
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
    -->
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-id am-hide-sm-only">单号</th><th class="table-title am-text-right">操盘资金</th><th class="table-type am-text-right am-hide-sm-only">保证金</th><th class="table-author am-text-center">状态</th><th class="table-date am-text-center">实盘起止日期</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="apply in applyVM.currentApplies">
                    <td class="am-hide-sm-only">\{{apply.serialID}}</td>
                    <td class="am-text-right"><span class="am-icon-rmb"></span><strong>\{{apply.amount}}</strong></td>
                    <td class="am-text-right am-hide-sm-only"><span class="am-icon-rmb"></span><strong>\{{apply.deposit}}</strong></td>
                    <td class="am-text-center">\{{apply.status_str}}</td>
                    <td class="am-text-center">\{{apply.start_date}}<br>\{{apply.end_date}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="applyVM.manageApply(apply)" ng-show="apply.status === 1"><span class="am-icon-pencil-square-o"></span> 管理</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="applyVM.manageApply(apply)" ng-hide="apply.status === 1"><span class="am-icon-eye"></span> 查看</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="am-cf">
                共 \{{applyVM.currentApplies.length}} 条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="applyVM.itemsPerPage" total-items="applyVM.totalItems" ng-model="applyVM.currentPage" ng-change="applyVM.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

