<div class="fr RightMain">
    <div class="rightMenu">
        <ul>
            <li class="select"><a href="#">操盘详情</a></li>
        </ul>
    </div>
    <div class="detBox fl padLeft180">
        <p class="p01">配资单号：\{{applyVM.currentApply.serialID}}</p>
        <p class="p01">操盘金额：\{{applyVM.currentApply.amount | currency:'':2}}元</p>
        <p class="p01">开始时间：\{{applyVM.currentApply.start_date | displayDate}}</p>
        <p>账户：12345678，密码：123456</p>
        <a href="#" class="btn04">增加保证金</a>
        <a href="#" class="btn05">盈利提取</a>
    </div>
    <div class="detBox fl">
        <p class="p01">当前状态：\{{applyVM.currentApply.status | applyStatus}}</p>
        <p class="p01">保证金额：\{{applyVM.currentApply.deposit | currency:'':2}}元</p>
        <p class="p01">到期时间：\{{applyVM.currentApply.end_date | displayDate}}</p>
        <p>&nbsp;</p>
        <a href="#" class="btn04">盈利加配</a>
        <a href="#" class="btn05">结算</a>
    </div>
    <div class="clear"></div>
    <div class="detTextBox">
        <p>亏损警戒线：1880元</p>
        <p>亏损平仓线：1840元</p>
        <p><a href="#">查看操盘限制</a></p>
        <p>&nbsp;</p>
        <p>服务费：每一万元19.90元/天</p>
        <p class="color_999999">服务费已经预付100元（10天），已经扣取40元（4天），剩余60元（6天）</p>
        <p><a href="#">查看计费规则</a></p>
    </div>
</div>
