<div class="wrapper tep_center">
    <div class="tep_column">
        订单信息
    </div>
    <div class="tep_contentBox">
        <div class="tep_left fl">
            <div class="tep_Text">
                <span {{#ifCond step '>=' 1}}class="span01" {{else}} class="span02" {{/ifCond}}>提交配资订单</span>
                <span class="span03"></span>
                <span {{#ifCond step '>=' 2}}class="span01" {{else}} class="span02" {{/ifCond}}>支付保证金</span>
                <span class="span03"></span>
                <span {{#ifCond step '>=' 3}}class="span01" {{else}} class="span02" {{/ifCond}}>领号投资操盘</span>
                <span class="span03"></span>
                <span {{#ifCond step '>=' 4}}class="span01" {{else}} class="span02" {{/ifCond}}>结算盈亏</span>
            </div>
            <div class="tep_table01">
                <table>
                    <tr>
                        <td class="td01">订单状态</td>
                        <td class="td02 fb">{{apply_status}}</td>
                        <td class="td03">总金额&nbsp;&nbsp;<span class="span01">{{apply_pay}}</span></td>
                    </tr>
                    <tr>
                        <td class="td01">订单号</td>
                        <td class="td02" id="apply_serial_id">{{apply_serialID}}</td>
                        <td class="td03 color_999999">保证金&nbsp;{{apply_deposit}}</td>
                    </tr>
                    <tr>
                        <td class="td01">申请日期</td>
                        <td class="td02">{{apply_applyAt}}</td>
                        <td class="td03 color_999999">{{display_for_fee}}&nbsp;{{apply_service_fee}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tep_right fl">
            {{#ifCond step '===' 1}}
                <a href="{{pay_url}}" class="tep_btn01 marTop40">立即支付</a>
            {{/ifCond}}
            {{#ifCond step '===' 3}}
                {{#ifCond apply_type '===' 2}}
                    <span class="tep_btn03 marTop40">我要延期</span>
                {{else}}
                    {{#if apply_isTrial}}
                        <span class="tep_btn03 marTop40">我要延期</span>
                    {{else}}
                        <a href="" class="tep_btn01 marTop40 jq_yqBtn03">我要延期</a>
                    {{/if}}
                {{/ifCond}}
                <a href="" class="tep_btn01 jq_bcbzjBtn">补充保证金</a>
                <span class="tep_btn03">提取盈利</span>
                <!--
                <span class="tep_btn03 marTop40">我要延期</span>
                <span class="tep_btn03">补充保证金</span>
                <a href="" class="tep_btn01">补充保证金</a>
                <a href="" class="tep_btn01 jq_tqylBtn03">提取盈利</a>
                <a href="" class="tep_btn01">加配资金</a>
                -->
                <a href="" class="tep_btn01 jq_jsBtn02">我要结算</a>
            {{/ifCond}}
            {{#ifCond step '===' 4}}
                <span class="tep_btn03 marTop40">我要延期</span>
                <span class="tep_btn03">补充保证金</span>
                <span class="tep_btn03">提取盈利</span>
            <!--
                <span class="tep_btn03">加配资金</span>
                -->
                <span class="tep_btn03">我要结算</span>
            {{/ifCond}}
        </div>
        <div class="clear"></div>
    </div>
    <div class="tep_column">
        配资信息
    </div>
    <div class="tep_contentBox">
        <div class="tep_text2">
            您的配资金额&nbsp;<span>{{apply_amount}}</span>
        </div>
        <div class="tep_left fl">
            <div class="tep_table02">
                <table>
                    <tr>
                        <td valign="top" class="td01">{{display_for_period}}</td>
                        <td class="td02">
                            <div class="tep_tableborder tep_Text3">{{apply_period}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" class="td01">使用时间</td>
                        <td class="td02">
                            <div class="tep_tableborder tep_Text4 fl">
                                <p class="p01">{{startDate1}}</p>
                                <p class="p02">{{startDate2}}</p>
                            </div>
                            <div class="fl tep_img"></div>
                            <div class="tep_tableborder tep_Text4 fl">
                                <p class="p01">{{endDate1}}</p>
                                <p class="p02">{{endDate2}}</p>
                            </div>
                            {{#if apply_isTrial}}
                                <p class="p03">下午14:00:00</p>
                            {{else}}
                                <p class="p03">下午14:50:00（可延期）</p>
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" class="td01">保证金</td>
                        <td class="td02">
                            <div class="tra_jdt tep_jdt">
                                <div class="tra_jdt2 tep_jdt2"></div>
                            </div>
                            <div class="fl tep_text5">
                                &nbsp;剩余<span>{{apply_deposit}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        {{#ifCond apply_type '===' 2}}
                            <td valign="top" class="td01">每月利息</td>
                            <td class="td02">
                                {{apply_fee_per_month}}
                                <span class="color_999999">（按月扣除）</span>
                            </td>
                        {{else}}
                            <td valign="top" class="td01">账户管理费用</td>
                            <td class="td02">
                                {{#if apply_isTrial}}
                                    0元
                                    <span class="color_999999">（免费体验操盘不收取管理费）</span>
                                {{else}}
                                    {{apply_service_fee}}
                                    <span class="color_999999">（{{apply_fee_per_day}}元/天 按天收取，周末节假日免费）</span>
                                {{/if}}
                            </td>
                        {{/ifCond}}
                    </tr>
                    <tr>
                        <td valign="top" class="td01">预警线</td>
                    {{#if apply_isTrial}}
                        <td class="td02">1900</td>
                    {{else}}
                        <td class="td02">{{apply_warn}}</td>
                    {{/if}}
                    </tr>
                    <tr>
                        <td valign="top" class="td01">止损线</td>
                        {{#if apply_isTrial}}
                            <td class="td02">1800</td>
                        {{else}}
                            <td class="td02">{{apply_sell}}</td>
                        {{/if}}
                    </tr>
                </table>
            </div>
        </div>
        <div class="tep_right tep_right2 fl">
            {{#ifCond step '===' 4}}
                <p class="p01">账户已注销</p>
            {{/ifCond}}
            {{#ifCond step '>=' 3}}
                <p>实盘交易账户  <span>{{apply_account}}</span></p>
                <p>实盘交易密码  <span>{{apply_password}}</span></p>
                <a href="/info/download3" class="tep_btn02">下载操盘软件</a>
                <p>操盘交易软件同花顺</p>
            {{/ifCond}}
        </div>
        <div class="clear"></div>
    </div>

    <!-- close apply popup -->
    <div class="regTcc jq_recTcc undis jq_jsBox">
        <div class="tmbg"></div>
        <div class="tar_TccBox">
            <div class="regColumn">
                我要结算
                <div class="loginClose jq_loginClose"></div>
            </div>
            <div class="newRec_TccBox jq_jsBox01">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">请确保您的股票账户已经清仓，否则将无法结算</p>
                    <a href="" class="newrec_btn02 jq_jsBtn01">我已清仓</a>
                </div>
            </div>
            <div class="newRec_TccBox undis jq_jsBox02">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">确定提交结算此次配资操盘</p>
                    <p class="p02">提交完成后我们将为您结算，并将资金返还到平台账户</p>
                    <a href="" class="newrec_btn02 jq_jsBtn03">确定</a>
                </div>
            </div>
            <div class="newRec_TccBox undis jq_jsBox03">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">结算请求提交失败,请联系我们的客服</p>
                    <p class="p02">客服电话:400-692-1388</p>
                    <a href="" class="newrec_btn02">确定</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 补充保证金弹出层-->
    <div class="regTcc jq_recTcc undis jq_bzbzj">
        <div class="tmbg"></div>
        <div class="tar_TccBox">
            <div class="regColumn">
                补充保证金
                <div class="loginClose jq_loginClose"></div>
            </div>
            <div class="pass_Box jq_bzbzjbox2">
                <!--
                <div class=" pass_formBox ">
                    <div class="fl pass_left">
                        剩余保证金
                    </div>
                    <div class="pass_right fl">
                        1000.00元
                    </div>
                </div>
                -->
                <div class=" pass_formBox">
                    <div class="fl pass_left">
                        补充金额
                    </div>
                    <div class="pass_right fl">
                        <input type="number" class="newcar_inputText pass_inputText" name="add_deposit" min="0" max="30000" id="add_deposit_input" >
                        元
                    </div>
                </div>
                <a class="newrec_btn02 newrec_zfbbtn01 jq_btn01" href="">提  交</a>
                <div class="clear"></div>
            </div>
            <div class="newRec_TccBox undis jq_bzbzjbox">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">请在新打开的页面完成支付</p>
                    <p class="p02">完成前请不要关闭窗口</p>
                    <a href="" class="newrec_btn02 jq_btn02">已完成支付</a>
                    <a href="" class="newrec_btn03">支付失败</a>
                </div>
            </div>
            <div class="pass_box2 undis jq_bzbzjbox3">
                <div class="pass_img fl"></div>
                <div class="pass_text fl">
                    <p class="p01">如已经完成充值,请重新操作追加保证金！</p>
                    <p class="p02"></p>
                    <a class="newrec_btn02 " href="">完  成</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="newRec_TccBox undis jq_bzbzjbox_fail">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">追加保证金申请提交失败</p>
                    <p class="p02">请联系我们的客服</p>
                    <a href="" class="newrec_btn02 jq_btn_fail">确  定</a>
                </div>
            </div>
            <div class="pass_box2 undis jq_bzbzjbox_success">
                <div class="pass_img fl"></div>
                <div class="pass_text fl">
                    <p class="p01">保证金补充成功！</p>
                    <p class="p01">金额会在半小时内反映在您的操盘账户中！</p>
                    <a class="newrec_btn02 " href="">完  成</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- 我要延期弹出层-->
    <div class="regTcc jq_recTcc undis jq_yqBox ">
        <div class="tmbg"></div>
        <div class="tar_TccBox">
            <div class="regColumn">
                操盘延期 (到期日前13:00点前有效)
                <div class="loginClose jq_loginClose"></div>
            </div>
            <div class="pass_Box jq_yqBox01">
                <div class=" pass_formBox ">
                    <div class="fl pass_left">
                        延期天数
                    </div>
                    <div class="pass_right fl">
                        <input type="number" class="newcar_inputText tep_inputText" id="postpone_input" min="1" max="22" required>
                        <!--
                        <span class="fontSize12 color_999999">个交易日 至2015-04-03 14:54:59分</span>
                        -->
                    </div>
                </div>
                <!--
                <div class=" pass_formBox">
                    <div class="fl pass_left">
                        预付管理费
                    </div>
                    <div class="pass_right fl">
                        <span class="fb">7.52</span> 元
                    </div>
                </div>
                -->
                <a class="newrec_btn02 newrec_zfbbtn01 jq_yzBtn01" href="">确认支付</a>
                <div class="clear"></div>
            </div>
            <div class="newRec_TccBox undis jq_yqBox02">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">请在新打开的页面完成支付</p>
                    <p class="p02">完成前请不要关闭窗口</p>
                    <a href="/user" class="newrec_btn02 jq_yqBtn02">已完成支付</a>
                    <a href="" class="newrec_btn03 jq_yqFinishRecharge">支付失败</a>
                </div>
            </div>
            <div class="pass_box2 undis jq_yqBox03">
                <div class="pass_img fl"></div>
                <div class="pass_text fl">
                    <p class="p01">如充值成功,请重新操作延期</p>
                    <a class="newrec_btn02 jq_yqFinishRecharge" href="">完  成</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="newRec_TccBox undis jq_yqBox_fail">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">延期申请提交失败</p>
                    <p class="p02">请联系我们的客服</p>
                    <a href="" class="newrec_btn02 jq_btn_fail">确  定</a>
                </div>
            </div>
            <div class="pass_box2 undis jq_yqBox_success">
                <div class="pass_img fl"></div>
                <div class="pass_text fl">
                    <p class="p01">配资延期成功！我们会在1小时内处理完成</p>
                    <a class="newrec_btn02 " href="">完  成</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <!-- 提取盈利弹出层-->
    <div class="regTcc jq_recTcc undis jq_tqylBox ">
        <div class="tmbg"></div>
        <div class="tar_TccBox">
            <div class="regColumn">
                提取盈利
                <div class="loginClose jq_loginClose"></div>
            </div>
            <div class="newRec_TccBox  jq_tqylBox01">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">我们将会在每天收盘后集中处理盈利提取的申请</p>
                    <p class="p01">盈利提取必须已经卖出相应额度的股票</p>
                    <a href="" class="newrec_btn02 jq_tqylBtn01">确  定</a>
                </div>
                <div class="clear"></div>
                <div class="tep_text6">
                    可提取金额=（盈利金额 * 80%）<br />例如实盘金额1万盈利500元，则可提取金额则为400元
                </div>
            </div>
            <div class="pass_Box undis jq_tqylBox02">
                <!--
                <div class=" pass_formBox ">
                    <div class="fl pass_left">
                        可账户盈利
                    </div>
                    <div class="pass_right fl fb">
                        500.00
                    </div>
                </div>
                -->
                <div class=" pass_formBox">
                    <div class="fl pass_left">
                        提取金额
                    </div>
                    <div class="pass_right fl">
                        <input type="number" class="newcar_inputText tep_inputText" id="get_profit_input" min="1" required>
                        <!--
                        <a href="#" class="color_2489f0">全额提取</a>
                        -->
                    </div>
                </div>
                <a class="newrec_btn02 newrec_zfbbtn01 jq_tqylBtn02 " href="">确  定</a>
                <div class="clear"></div>
                <div class="tep_text6 tep_text7">
                    可提取金额=（盈利金额 * 80%）<br />例如实盘金额1万盈利500元，则可提取金额则为400元
                </div>
            </div>
            <div class="pass_box2  undis jq_tqylBox03">
                <div class="pass_img fl"></div>
                <div class="pass_text fl">
                    <p class="p01">申请成功，审核完成后资金将转入平台账户余额</p>
                    <a class="newrec_btn02 " href="">完  成</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="newRec_TccBox undis jq_tqylBox_fail">
                <div class="newRec_TccImg fl"></div>
                <div class="newRec_tccText fl">
                    <p class="p01">盈利提取申请提交失败</p>
                    <p class="p02">请联系我们的客服</p>
                    <a href="" class="newrec_btn02 jq_btn_fail">确  定</a>
                </div>
            </div>
        </div>
    </div>

</div>
