<div class="fr RightMain">
    <div class="rightMenu">
        <ul>
            <li class="select"><a href="#">操盘总览</a></li>
        </ul>
    </div>
    <div class="moneyBox">
        <div class="moneyBoxLeft fl">
            <p class="p01">
                <span class="dis fl">账户余额：</span>
                <span class="dis fr color_999999">(账户余额 = 可用余额 + 冻结资金)&nbsp;&nbsp;</span>
            </p>
            <p class="p02 color_f2991b">￥<span>\{{homeVM.user_total_capital | currency:'':2}}</span></p>
            <p class="p03">可用余额￥<span class="fb">\{{homeVM.user.finance.balance | currency:'':2}}</span>&nbsp;&nbsp;冻结资金￥\{{homeVM.user.finance.freeze_capital | currency:'':2}}</p>
            <p class="p04">
                <a href="/user#/user_capital?category=0" class="btn01 marRight10">充值</a>
                <a href="/user#/user_capital?category=1" class="btn02">提现</a>
            </p>
        </div>
        <div class="moneyBoxRight fl">
            <p class="p01">当前操盘总金额：</p>
            <p class="p02 color_c82217">￥<span>\{{homeVM.user.finance.total_capital | currency:'':2}}</span></p>
            <p class="p03">共有\{{homeVM.ongoing_apply_num}}笔配资，总保证金￥<span>\{{homeVM.user.finance.deposit | currency:'':2}}</span></p>
            <p class="p04">
                <a href="/apply" class="btn03 ">新增配资 </a>
            </p>
        </div>
    </div>
    <div class="tableMenu">
        <ul id="tableMenu">
            <li ng-repeat="item in homeVM.queryItems" ng-click="homeVM.queryItem(item)" ng-class="{select: item.value === homeVM.selected}">\{{item.name}}</li>
        </ul>
        <!--
        <div class="searchBox fr">
            <input type="text" class="searchInputText" name="" id="" value="" placeholder="输入充值金额/业务单号搜索" />
            <input type="button" name="" class="searchBtn" id="" value="搜索" />
        </div>
        -->
    </div>
    <div class="tableMain" id="tableMain">
        <div class="tableBox" id="jq_tableBox">
            <table>
                <tr>
                    <th>操盘金额</th>
                    <th>保证金额</th>
                    <th>操盘结束时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="apply in homeVM.showingItems | orderBy:'applyAt':true" ng-class-even="homeVM.tableCss.even">
                    <td>\{{apply.amount | currency:'':2}}元</td>
                    <td>\{{apply.deposit | currency:'':2}}元</td>
                    <td>\{{apply.end_date | displayDate}}</td>
                    <td ng-class="{color_c82217: apply.status === 2, color_f2991b: apply.status === 5}">\{{apply.status | applyStatus}}</td>
                    <td>
                        <div class="pr glBox">
                            <a href="javascript:" ng-click="homeVM.manageApply(apply)">详情</a> | <span class="tableSpan">操盘账户</span>
                            <div class="tablenr jq_tablenr undis">
                                <div class="tableNrImg"></div>
                                <p><span class="tableSpan02">账户：<span id="code01" class="jq_span">12345678</span></span> <a href="javascript:">复制</a></p>
                                <p><span class="tableSpan02">密码：<span id="code02" class="jq_span">123456</span></span> <a href="javascript:">复制</a></p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="fr">
                <pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="homeVM.itemsPerPage" total-items="homeVM.totalItems" ng-model="homeVM.currentPage" ng-change="homeVM.pageChanged()"></pagination>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //复制
        $(".jq_tablenr a").click(function () {
            copycode1($(this).parents("p").find("span.jq_span").attr("id"));
        });
        //表格下拉框显隐
        $(".tableSpan").click(function () {
            $(this).next("div.jq_tablenr").show();
        });
        $(".jq_tablenr").hover(function () {
            $(this).show();
        },function () {
            $(this).hide();
        });
    })
</script>
