<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">安全设置</strong></div>
</div>

<ul class="am-avg-sm-2 am-avg-md-2 am-avg-lg-2 am-margin gallery-list">
    <li ng-repeat="obj in securityVM.securityObjects">
        <span class=\{{obj.class}}></span>
        <div class="">\{{obj.title}}</div>
        <span class="am-text-success">\{{obj.status}}</span>
        <span class="am-btn am-btn-link" ng-if="obj.show"><a href="\{{obj.url}}">\{{obj.action}}</a></span>
    </li>
</ul>
