{{#if bootstrappedApply}}
    <script> window.bootstrappedApplyObject = {{{bootstrappedApply}}} </script>
{{/if}}
<div class="wrapper" ng-app="mainApp" ng-controller="MainApplyConfirmController as vm" ng-cloak>
    <div class="freeTitle">
        <div class="fl"><span>天天牛</span> &nbsp;&nbsp;短线炒股、最高100万、利润放大10倍</div>
        <a href="/info/guide">新手引导>></a>
        <div class="clear"></div>
    </div>
    <div class="column">
        <div class="fl num02">
            <span class="numSpan2">1</span>
            选择炒股资金
        </div>
        <div class="fl  num01">
            <span class="numSpan">2</span>
            支付保证金
        </div>
        <div class="fl num02">
            <span class="numSpan2">3</span>
            完成申请
        </div>
    </div>
    <div class="applyContentBox marTop75">
        <div class="applyTitle fl">
            保证金
        </div>
        <div class="applyContent fl">
            <span class="span01">\{{vm.apply.deposit | currency:'':2}}</span> 元
        </div>
    </div>
    <div class="applyContentBox">
        <div class="applyTitle fl">
            预存账户管理费
        </div>
        <div class="applyContent fl">
            <div class="fl">
                <span class="span01">\{{vm.serviceFee | currency:'':2}}</span> 元&nbsp;&nbsp;&nbsp;&nbsp;
                <select ng-model="vm.apply.period" ng-change="vm.selectDay()">
                    <option ng-repeat="day in vm.validDays" ng-selected="day == 5" value="\{{day}}">\{{day}}</option>
                </select>
                天&nbsp;&nbsp;
            </div>
            <div class="span03 fl">系统会冻结\{{vm.apply.period}}天的管理费，按天扣取管理费，周末及节假日免费；</div>
        </div>
    </div>
    <div class="applyContentBox">
        <div class="applyTitle fl">
            合计需支付
        </div>
        <div class="applyContent fl">
            <span class="span02">\{{vm.totalAmount | currency:'':2}}</span> 元
        </div>
    </div>
    <div class="applyContentBox2">
        <div class="fl">
            <span class="icon01">&nbsp;</span>&nbsp;当前余额：\{{vm.apply.userBalance | currency:'':2}}元，还差<span class="color_c82217">\{{vm.shouldPay | currency:'':2}}</span>元<span ng-show="vm.balancePay">,将使用余额支付。</span>
        </div>
        <!--
        <a href="/user#/user_capital?category=0" class="applyBtn01">充值</a>
        -->
        <p class="tr"><input type="checkbox" ng-model="vm.autoPostpone">&nbsp;余额充足，自动延期</p>
    </div>
    <div class="applyBtnBox">
        <a href="" class="freeBtn01" id="freeBtn01" ng-click="vm.payForApply()">立即支付</a>
        <a href="/apply">返回修改</a>
        <p>14:00后申请的交易账户最迟会在下一个交易日09:15之前分配好</p>
    </div>
</div>
<div class="undis" id="tckBox">
    <div class="tmbg"></div>
    <div class="PopupBox">
        <p class="p01"><span class="icon07"></span>&nbsp;请在新打开的银行页面中完成网上付款</p>
        <p class="p02">1、付款过程中请不要关闭这个窗口；</p>
        <p class="p02">2、完成付款后请执行相应操作。</p>
        <div class="applyBtnBox2">
            <a href="success.html" class="applyBtn02 marRight20">已完成付款</a>
            <a href="#" class="applyBtn03">修改付款方式</a>
        </div>
        <p class="p03"><a href="#" class="color_c82217">付款遇到问题？</a></p>
    </div>
</div>
