<div class="wrapper" ng-app="mainApp" ng-controller="MainApplyController as applyVM" ng-cloak>
    <div class="freeTitle">
        <div class="fl"><span>天天牛</span> &nbsp;&nbsp;短线炒股、最高30万、利润放大10倍</div>
        <a href="/info/guide">新手引导>></a>
        <div class="clear"></div>
    </div>
    <div class="column">
        <div class="fl num01">
            <span class="numSpan">1</span>
            选择炒股资金
        </div>
        <div class="fl num02">
            <span class="numSpan2">2</span>
            支付保证金
        </div>
        <div class="fl num02">
            <span class="numSpan2">3</span>
            完成申请
        </div>
    </div>

    <div class="fl moneyListBox">
        <div class="conlumn2">选择资金</div>
        <div class="moneyList" id="jq_moneyList">
            <ul>
                <li ng-repeat="item in applyVM.amountList" ng-class="{select: item.select}" ng-click="applyVM.selectAmount(item)">
                    <p class="p01"><span>\{{item.name}}</span></p>
                    <p>炒股资金</p>
                </li>
                <li id="jq_qtMoney" ng-click="applyVM.toggleOtherAmount()">
                    <p class="p02">其他金额</p>
                    手动输入
                </li>
            </ul>
            <div class="qtmoneyBox" id="jq_qtmoneyBox" ng-show="applyVM.showOtherAmount">
                <p class="tc p01">请输入您的操盘金额</p>
                <div class="moneyInputBox">
                    <input class="moneyinputText" type="text" name="apply_money" placeholder="申请资金须在2000元至30万元之间" min="\{{applyVM.min_amount}}" max="300000" step="1000" ng-model="applyVM.otherAmount" ng-change="applyVM.finishOtherAmount()"/>
                    <input type="button" ng-click="applyVM.submitApply()" value="确定" class="moneyBtn" />
                </div>
                <p class="tc p02"><a href="" id="return_moneyBox" ng-click="applyVM.toggleOtherAmount()">返回</a></p>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="forbidden-stock-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h1>今日限制买入股票</h1>
                <a href="" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="limitstock">
                    <ul>
                        <li ng-repeat="stock in applyVM.forbiddenStockList"><span>\{{stock.stockID}}</span>\{{stock.stockName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-alert" tabindex="-1" id="invalid-value-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <a href="" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                金额必须在2000元到30万元之间
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <div class="fl infoBox">
        <div class="conlumn2"><span>确认信息</span><a href="#" class="color_c82217" ng-click="applyVM.showForbiddenStocks()">今日限制买入股票</a></div>

        <div class="infoTable">
            <table>
                <tr>
                    <td class="infoTableTitle">操盘须知</td>
                    <td class="infoTableNr infoText01">投资沪深A股，盈利全归你</td>
                </tr>
                <tr>
                    <td class="infoTableTitle">总操盘金额</td>
                    <td class="infoTableNr"><span class="infoText02">\{{applyVM.summary.amount | currency:'':2}}</span> 元</td>
                </tr>
                <tr>
                    <td class="infoTableTitle">保证金</td>
                    <td class="infoTableNr"><span class="infoText02">\{{applyVM.summary.deposit | currency:'':2}}</span> 元</td>
                </tr>
                <tr>
                    <td class="infoTableTitle">警戒线</td>
                    <td class="infoTableNr"><span class="infoText02">\{{applyVM.summary.warnValue | currency:'':2}}</span> 元</td>
                </tr>
                <tr>
                    <td class="infoTableTitle">平仓线</td>
                    <td class="infoTableNr"><span class="infoText02">\{{applyVM.summary.sellValue | currency:'':2}}</span> 元</td>
                </tr>
                <tr>
                    <td class="infoTableTitle">资金倍数</td>
                    <td class="infoTableNr">
                        <select class="select01" ng-options="item.name for item in applyVM.leverList" ng-model="applyVM.selectedLever" ng-change="applyVM.leverChange()"></select>
                    </td>
                </tr>
                <tr>
                    <td class="infoTableTitle">账户管理费</td>
                    <td class="infoTableNr"><span class="infoText03">\{{applyVM.summary.charge | currency:'':2}}</span>元/每天  <span class="infoText04">（按天收取，周末节假日免费）</span></td>
                </tr>
                <tr>
                    <td colspan="2" class="infoTabletd">
                        <p class="tr"><input type="checkbox" ng-model="applyVM.agree">&nbsp;同意<a href="/info/trader_agreement" class="color_e23024">《牛金操盘协议》</a></p>
                        <input type="button" id="applyBtn" value="立即操盘" class="infoBtn" ng-click="applyVM.submitApply()">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
    <div class="loginTcc" ng-show="applyVM.showLoginWindow" ng-cloak>
        <div class="tmbg"></div>
        <div id="login" class="ui-logon clearfix logintcc">
            <div class="loginClose jq_loginClose" ng-click="applyVM.showLoginWindow = false"></div>
            <form method="POST" ng-submit="applyVM.login()" name="login-form" novalidate>
                <ul class="logon-con">
                    <li class="title">
                        <h2>登录</h2>
                    </li>
                    <li><alert ng-repeat="alert in applyVM.alerts" type="\{{alert.type}}" close="applyVM.closeAlert($index)">\{{alert.msg}}</alert></li>
                    <li class="logon-ipt z-index10" id="username1">
                        <em class="user"></em>
                        <input placeholder="请输入注册手机号码" type="tel" autocomplete="off" accesskey="n" tabindex="1" class="holder" name="mobile" id="name" pattern="1[3|5|7|8|][0-9]{9}" required autofocus ng-model="applyVM.mobile">
                    </li>
                    <li class="logon-ipt mgt20" id="pwd">
                        <em class="key"></em>
                        <input type="password" tabindex="2" placeholder="密码" name="password" minlength="6" maxlength="12" ng-model="applyVM.password" required>
                    </li>
                    <li class="ui-pwd">
                        <a href="/forgot">忘记密码</a>
                    </li>
                    <li>
                        <input type="submit" value="登录" accesskey="l" name="submit" tabindex="4" class="login-btn">
                    </li>
                    <li class="li01" style="">没有账号？ <a style="" href="/signup" class="register">免费注册</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
