{{#if bootstrappedApply}}
    <script> window.bootstrappedApplyObject = {{{bootstrappedApply}}} </script>
{{/if}}
<div class="wrapper" ng-app="mainApp" ng-controller="MainYYnConfirmCtrl" ng-cloak>
    <div class="freeTitle">
        <div class="fl"><span>月月牛</span> &nbsp;&nbsp;炒股利器、最高300万、可投资1-12个月</div>
        <a href="/info/guide">新手引导>></a>
        <div class="clear"></div>
    </div>
    <div class="column">
        <div class="fl num02">
            <span class="numSpan2">1</span>
            选择炒股资金
        </div>
        <div class="fl  num01">
            <span class="numSpan">2</span>
            支付保证金
        </div>
        <div class="fl num02">
            <span class="numSpan2">3</span>
            完成申请
        </div>
    </div>
    <div class="applyContentBox marTop75">
        <div class="applyTitle fl">
            保证金
        </div>
        <div class="applyContent fl">
            <span class="span01">\{{apply.deposit | currency:'':2}}</span> 元
        </div>
    </div>
    <div class="applyContentBox">
        <div class="applyTitle fl">
            首月利息
        </div>
        <div class="applyContent fl">
            <div class="fl">
                <span class="span01">\{{interest | currency:'':2}}</span> 元&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="span03 fl">资金使用期限\{{apply.period}}月，利息\{{apply.interestRate * 100 | currency:'':1}}分/月</div>
        </div>
    </div>
    <div class="applyContentBox">
        <div class="applyTitle fl">
            合计需支付
        </div>
        <div class="applyContent fl">
            <span class="span02">\{{totalAmount | currency:'':2}}</span> 元
        </div>
    </div>
    <div class="applyContentBox2">
        <div class="fl">
            <span class="icon01">&nbsp;</span>&nbsp;当前余额：\{{apply.userBalance | currency:'':2}}元，还差<span class="color_c82217">\{{shouldPay | currency:'':2}}</span>元<span ng-show="vm.balancePay">,将使用余额支付。</span>
        </div>
    </div>
    <div class="applyBtnBox">
        <a href="" class="freeBtn01" id="freeBtn01" ng-click="payForApply()">立即支付</a>
        <a href="/yyn">返回修改</a>
        <p>交易账户会在下一个交易日09:15之前分配好</p>
    </div>
</div>
<div class="undis" id="tckBox">
    <div class="tmbg"></div>
    <div class="PopupBox">
        <p class="p01"><span class="icon07"></span>&nbsp;请在新打开的银行页面中完成网上付款</p>
        <p class="p02">1、付款过程中请不要关闭这个窗口；</p>
        <p class="p02">2、完成付款后请执行相应操作。</p>
        <div class="applyBtnBox2">
            <a href="success.html" class="applyBtn02 marRight20">已完成付款</a>
            <a href="#" class="applyBtn03">修改付款方式</a>
        </div>
        <p class="p03"><a href="#" class="color_c82217">付款遇到问题？</a></p>
    </div>
</div>