<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我接手的客户</strong> / <small>My Users</small></div>
</div>
<ul class="am-list am-list-static am-list-border am-list-striped">
<li class="am-form-inline am-padding" style="padding-top:3px;padding-bottom:3px;">
    <div class="am-form-group">
        <span>手机号码:</span>
        <input type="text" class="am-form-field am-input-sm" style="width:174px;" placeholder="1388888666" ng-model="myUserVM.search_mobile">
    </div>
    <div class="am-form-group am-form-select">
        <span for="trader-status">&nbsp;&nbsp;操盘状态:</span>
        <select id="trader-status" ng-model="myUserVM.trader_status" ng-options="option for option in trader_options">
        </select>
        <span class="am-form-caret"></span>
    </div>
    <div class="am-form-group">
        <span>
            &nbsp;&nbsp;免费体验:&nbsp;&nbsp;<input type="checkbox" ng-model="myUserVM.free_apply">
        </span>
    </div>
</li>
<li class="am-form-inline am-padding" style="padding-top:3px;padding-bottom:3px;">
    <div class="am-form-group">
        <span>登陆区间:</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="起" ng-model="myUserVM.login_begin">
        <span>-</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="止" ng-model="myUserVM.login_end">
    </div>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setLoginRange(0, 3)">3日内来访</button>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setLoginRange(0, 7)">7日内来访</button>
</li>

<li class="am-form-inline am-padding" style="padding-top:3px;padding-bottom:3px;">
    <div class="am-form-group">
        <span>注册区间:</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="起" ng-model="myUserVM.register_begin">
        <span>-</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="止" ng-model="myUserVM.register_end">
    </div>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setRegisterRange(0, 3)">3日内注册</button>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setRegisterRange(0, 7)">7日内注册</button>
</li>

<li class="am-form-inline am-padding" style="padding-top:3px;padding-bottom:3px;">
    <div class="am-form-group">
        <span>盈利范围:</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="起" ng-model="myUserVM.profit_begin">
        <span>-</span>
        <input type="text" class="am-form-field am-input-sm" style="width:80px;" placeholder="止" ng-model="myUserVM.profit_end">
    </div>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setProfitRange(0.1, '')">盈利用户</button>
    <button class="am-btn am-btn-default am-btn-sm" type="button" ng-click="myUserVM.setProfitRange(0, 0)">未盈利用户</button>
</li>
<li class="am-form-inline am-padding" style="padding-top:3px;padding-bottom:3px;">
    <button class="am-btn am-btn-primary" type="button" ng-click="myUserVM.searchUser()">搜索</button>
    <button class="am-btn am-btn-default" type="button" ng-click="myUserVM.resetSearch()">重置</button>
</li>
</ul>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-id">手机号</th><th class="table-title">姓名</th><th class="table-id">余额</th><th class="table-id">盈利</th><th class="table-date">注册日期</th><th>最后登录</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in myUserVM.currentUsers">
                    <td>\{{user.mobile}}</td>
                    <td>\{{user.identity.name || 'N/A'}}</td>
                    <td>\{{user.finance.balance | currency:'':2}}</td>
                    <td>\{{user.finance.profit | currency:'':2}}</td>
                    <td>\{{user.registerAt | date:"yyyy-MM-dd HH:mm"}}</td>
                    <td>\{{user.lastLoginAt | date:"yyyy-MM-dd HH:mm"}}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="myUserVM.contactUser(user.mobile)"><span class="am-icon-phone"></span> 联系</button>
                                <button class="am-btn am-btn-default am-btn-xs" ng-click="myUserVM.showApplies(user)"><span class="am-icon-bar-chart"></span> 配资</button>
                                <!--
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="myUserVM.showOrders(user)"><span class="am-icon-money"></span> 订单</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="myUserVM.updateBalance(user)"><span class="am-icon-pencil"></span> 修改余额</button>
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="myUserVM.createOrder(user)"><span class="am-icon-pencil"></span> 创建订单</button>
                                -->
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="am-cf">
                共 \{{myUserVM.currentAllUsers.length}} 条记录，当前为第\{{myUserVM.startItemIndex+1}}-\{{myUserVM.endItemIndex}}条记录
                <div class="am-fr">
                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="myUserVM.itemsPerPage" total-items="myUserVM.totalItems" ng-model="myUserVM.currentPage" ng-change="myUserVM.pageChanged()"></pagination>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>

<script type="text/ng-template" id="userUpdateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">修改用户</h3>
    </div>
    <div class="modal-body">
        <div class="am-form-group">
            <label>增加或减少的余额</label>
            <input type="number" ng-model="user.balance">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认修改</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
