<style>
    .index-box .opt-box .profit {
        margin-bottom: 2em;
        border-bottom: 1px solid #999;
    }
    .index-box .opt-box .profit p {
        text-align: center;
        font-size: 1.4em;
    }
    .index-box .opt-box .profit p>em {
        color: red;
        font-weight: bold;
        font-size: 1.3em;
    }
    .index-box .opt-box .info-box {
        font-size: 3em;
        text-align: center;
    }
    .index-box .opt-box .trader-time-hint {
        text-align: center;
    }
    .index-box .money-status span {
        font-size: 0.9em;
    }
    .share-mask img {
        width: 100%;
    }
    .money-status .scroll-area {
        height: 30px;
        /*
        background-color: gray;
        color: white;
        */
    }
    .money-status .scroll-area #demo1,
    .money-status .scroll-area #demo2 {
        text-align: center;
    }
    .opt-btns .container .row .mid {
        margin-left: 3em;
    }
    .opt-btns .container .row .left {
        text-align: left;
    }
    .opt-btns .container .row .right {
        text-align: right;
    }
    .opt-btns .btns.three {
        height: 100px;
    }
    .index-box .current-price {
        margin-left: 30px;
    }
    .index-box .current-price em {
        color: red;
    }
    .index-box .order-list {
        color: orangered;
    }
	.black-height-full {
		height:100%;
	}
	.black-height-max {
		height:557px;
	}
</style>
<!--#S header-->
<!--
<header id="header">
    <div class="header-box">
        <h1>拍拍机</h1>
        <a class="f-pr" href="/futures/#/orders">交易记录</a>
    </div>
</header>--><!--#E header-->

<div class="index-box">
    <div class="chart-box">
        <h4>\{{data.productType}}走势图 <span class="current-price">余额<em>\{{cash | number:0}}</em>牛币</span> <span class="order-list pull-right" ng-click="help()">帮助</span></h4>
        <div class="chart">
            <!--
            <canvas id="J_chart" width="300" height="160" futures-chart="chartLabels" chart-data="chartData"></canvas>
            -->
            <div id="container" style="height:230px" futures-chart="chartLabels" chart-data="chartData"></div>
        </div>
        <div class="container">
            <div class="row">
                <!--
                <span class="col-xs-offset-3 col-xs-7">当前价 <em class="text-success">\{{currentPrice | number:1}}元</em> 每手</span>
                <span class="col-xs-6">卖价 <em class="text-success">4138.90</em> 2手</span>
                <span class="col-xs-6">买价 <em class="text-danger">4136.50</em> 21手</span>
                -->
            </div>
        </div>
    </div>
    <div class="opt-box">
        <div class="profit">
            <div class="container">
                <div class="row">
                    <p class="col-xs-4" style="font-size:12px">平仓盈亏 <br><em>\{{lastProfit.toFixed(0)}}</em> </p>
                    <p class="col-xs-4" style="font-size:12px">持仓盈亏 <br><em>\{{profit.toFixed(0)}}</em> </p>
                    <p class="col-xs-4" style="font-size:12px">股指 <br><em>\{{currentPrice.toFixed(1)}}</em> </p>
                </div>
            </div>
        </div>
        {{#unless tradeTime}}
            <p class="trader-time-hint text-danger">现在是非交易时间</p>
        {{else}}
            <p class="trader-time-hint text-danger" ng-show="tradeClose">现在是非交易时间</p>
        {{/unless}}
        <div class="opt-btns">
            <div class="btns three" id="J_btns">
				<div class="circle-btn p {{#unless tradeTime}}circle-btn-disable{{/unless}}" ng-class="{'circle-btn-disable':tradeClose}">
					<div {{#if tradeTime}}ng-class="{'p-outer-btn-pressed':PButtonPressed, 'p-outer-btn':!PButtonPressed, 'outer-btn-disable':tradeClose}"{{/if}} class="ex-btn {{#unless tradeTime}}outer-btn-disable{{/unless}}">
						<div id="bp" class="p-inner-btn ex-btn-common {{#unless tradeTime}}inner-btn-disable{{/unless}}" ng-class="{'inner-btn-disable':tradeClose}" {{#if tradeTime}}ng-click="placeOrder(0)"{{/if}}>
							平
						</div>
					</div>
					<p class="log-label">可平\{{tradeData.sell}}手</p>
				</div>
				<div class="circle-btn z {{#unless tradeTime}}circle-btn-disable{{/unless}}" ng-class="{'circle-btn-disable':close}">
					<div {{#if tradeTime}}ng-class="{'z-outer-btn-pressed':ZButtonPressed, 'z-outer-btn':!ZButtonPressed, 'outer-btn-disable':tradeClose}"{{/if}} class="ex-btn {{#unless tradeTime}}outer-btn-disable{{/unless}}">
						<div id="bz" class="z-inner-btn ex-btn-common {{#unless tradeTime}}inner-btn-disable{{/unless}}" ng-class="{'inner-btn-disable':tradeClose}" {{#if tradeTime}}ng-click="placeOrder(1)"{{/if}}>
							涨
						</div>
					</div>
					<p class="log-label">\{{tradeData.up}}手</p>
				</div>
				<div class="circle-btn d {{#unless tradeTime}}circle-btn-disable{{/unless}}" ng-class="{'circle-btn-disable':close}">
					<div {{#if tradeTime}}ng-class="{'d-outer-btn-pressed':DButtonPressed, 'd-outer-btn':!DButtonPressed, 'outer-btn-disable':tradeClose}"{{/if}} class="ex-btn {{#unless tradeTime}}outer-btn-disable{{/unless}}">
						<div id="bd" class="d-inner-btn ex-btn-common {{#unless tradeTime}}inner-btn-disable{{/unless}}" ng-class="{'inner-btn-disable':tradeClose}" {{#if tradeTime}}ng-click="placeOrder(-1)"{{/if}}>
							跌
						</div>
					</div>
					<p class="log-label">\{{tradeData.down}}手</p>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="ui-tip" ng-show="showError">\{{errorMsg}}</div>
<div ng-show="data.status != 0" style="background-color:#000000;width:100%;opacity:0.5;position:absolute;top:0;left:0" ng-class="{'black-height-full':(browserHeight > 557), 'black-height-max':(browserHeight <= 557)}">
	<div ng-show="data.status == 1 || data.status == 2" style="height:210px;margin-left:15px;margin-right:15px;margin-top:37px;overflow:hide;border-radius:5px">
		<div style="height:100%;width:100%;background-color:#ffffff"></div>
	</div>
	<div ng-show="data.status == 1" style="width:80px;height:80px;border-radius:100px;left:33px;top:356px;background-color:#ffffff;position:absolute"></div>
	<div ng-show="data.status == 2" style="width:80px;height:80px;border-radius:100px;right:33px;top:356px;background-color:#ffffff;position:absolute"></div>
	<div ng-show="data.status == 3" style="width:80px;height:45px;border-radius:5px;left:50%;top:275px;margin-left:-40px;background-color:#ffffff;position:absolute"></div>
	<div ng-show="data.status == 4" style="width:80px;height:80px;border-radius:100px;left:50%;top:356px;margin-left:-40px;background-color:#ffffff;position:absolute"></div>
</div>
<div ng-show="data.status != 0" style="width:100%;position:absolute;top:0;left:0;opacity:0.8" ng-class="{'black-height-full':(browserHeight > 557), 'black-height-max':(browserHeight <= 557)}">
	<div ng-show="data.status == 1" ng-click="data.status = 2" style="width:80px;height:80px;border-radius:100px;left:33px;top:356px;position:absolute"></div>
	<div ng-show="data.status == 1" style="left:130px;top:360px;width:155px;background-color:#000000;color:#ffffff;position:absolute;font-size:16px;border-radius:5px;padding:5px">
		<p>预测曲线涨跌，觉得曲线会上涨，就点击“涨”按钮<p>
		<p>可点击多次购买多手</p>
	</div>
	<div ng-show="data.status == 1" style="left:33px;top:440px;position:absolute;color:#ffffff;font-size:16px;width:80px;text-align:center">
		<img src="/futures/images/mark-jt.png" style="width:18px" />
		<p>点我继续</p>
	</div>
	<div ng-show="data.status == 2" ng-click="data.status = 3" style="width:80px;height:80px;border-radius:100px;right:33px;top:356px;position:absolute"></div>
	<div ng-show="data.status == 2" style="right:130px;top:380px;width:155px;background-color:#000000;color:#ffffff;position:absolute;font-size:16px;border-radius:5px;padding:5px">
		<p>若觉得曲线会下跌，就点“跌”按钮<p>
	</div>
	<div ng-show="data.status == 2" style="right:33px;top:440px;position:absolute;color:#ffffff;font-size:16px;width:80px;text-align:center">
		<img src="/futures/images/mark-jt.png" style="width:18px" />
		<p>点我继续</p>
	</div>
	<div ng-show="data.status == 3" ng-click="data.status = 4" style="width:80px;height:45px;border-radius:5px;left:50%;top:275px;margin-left:-40px;position:absolute"></div>
	<div ng-show="data.status == 3" style="top:160px;color:#ffffff;position:absolute;font-size:16px;width:100%">
		<div style="width:225px;margin:0 auto;background-color:#000000;border-radius:5px;padding:5px">
			<p>若您涨跌预测准确，“持仓盈亏”会为正值，代表您有盈利<p>
			<p>如预测错误，则会亏损</p>
		</div>
	</div>
	<div ng-show="data.status == 3" style="left:50%;margin-left:-40px;top:325px;position:absolute;color:#ffffff;font-size:16px;width:80px;text-align:center">
		<img src="/futures/images/mark-jt.png" style="width:18px" />
		<p>点我继续</p>
	</div>
	<div ng-show="data.status == 4" ng-click="data.status = 0" style="width:80px;height:80px;border-radius:100px;left:50%;top:356px;margin-left:-40px;position:absolute"></div>
	<div ng-show="data.status == 4" style="top:240px;color:#ffffff;position:absolute;font-size:16px;width:100%">
		<div style="width:225px;margin:0 auto;background-color:#000000;border-radius:5px;padding:5px">
			<p>盈利时您可以点击“平”按钮将盈利转移至本金账户<p>
			<p>亏损时您也可以择时平仓及时止损</p>
		</div>
	</div>
	<div ng-show="data.status == 4" style="left:50%;margin-left:-40px;top:440px;position:absolute;color:#ffffff;font-size:16px;width:80px;text-align:center">
		<img src="/futures/images/mark-jt.png" style="width:18px" />
		<p>点我继续</p>
	</div>
</div>
