<!DOCTYPE html>
<html ng-app="futuresApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="拍拍机" />
    <meta name="keywords" content="拍拍机"/>
    <meta http-equiv="cleartype" content="on" />

    <title>拍拍机</title>
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="/futures/css/reset.css">
    <link rel="stylesheet" href="/futures/css/base.css">
    <link rel="stylesheet" href="/futures/css/common.css">
    <link rel="stylesheet" href="/futures/css/pages.css">
    <link rel="stylesheet" href="/futures/css/zepto-range.css">
    <link rel="stylesheet" href="/futures/css/site.css">
    <!-- endbuild -->
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/vendor/angular/angular.js'}}"></script>
</head>

<body ng-controller="FuturesIndexCtrl">

{{#if bootstrappedUserObject}}
    <script> window.bootstrappedUserObject = {{{bootstrappedUserObject}}} </script>
{{/if}}
<div ng-view></div>
<div class="container ppj-footer">
	<!--
    <div class="row">
		<button type="button" class="btn btn-danger col-xs-3" ng-click="showProducts()">自  选</button>
        <button type="button" class="btn btn-danger col-xs-3" ng-click="showHome()">交  易</button>
        <button type="button" class="btn btn-danger col-xs-3" ng-click="showRank()">股神榜</button>
        <button type="button" class="btn btn-danger col-xs-3" ng-click="showOrders()">交易记录</button>
		-->
	<table class="foot-table">
		<tr>
			<td>
				<a ng-click="showProducts()">
					<div class="url-content">
						<img src="\{{imgSrc1}}" style="width:28px" />
						<p ng-class="{selected:productSelected, un-selected:!productSelected}">自选</p>
					</div>
				</a>
			</td>
			<td>
				<a ng-click="showHome()">
					<div class="url-content">
						<img src="\{{imgSrc2}}" style="width:28px" />
						<p ng-class="{selected:homeSelected, un-selected:!homeSelected}">交易</p>
					</div>
				</a>
			</td>
			<td>
				<a ng-click="showRank()">
					<div class="url-content">
						<img src="\{{imgSrc3}}" style="width:28px" />
						<p ng-class="{selected:rankSelected, un-selected:!rankSelected}">股神榜</p>
					</div>
				</a>
			</td>
			<td>
				<a ng-click="showOrders()">
					<div class="url-content">
						<img src="\{{imgSrc4}}" style="width:28px" />
						<p ng-class="{selected:ordersSelected, un-selected:!ordersSelected}">我的</p>
					</div>
				</a>
			</td>
		</tr>
    </table>
</div>

<!-- build:js js/script.js -->
<script src="/futures/js/lib/zepto.min.js"></script>
<script src="/futures/js/lib/zepto-range.js"></script>
<script src="/futures/js/lib/Chart.js"></script>
<script src="/futures/js/script.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/angular-touch/angular-touch.min.js'}}"></script>
<script src="{{static '/vendor/angular-route/angular-route.min.js'}}"></script>
<script src="{{static '/vendor/angular-resource/angular-resource.min.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<script src="{{static '/js/highstock.js'}}"></script>
<script src="{{static '/socket.io/socket.io.js'}}"></script>
<script src="{{static '/futures/js/futures.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesIndexCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesHomeCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesOrdersCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesExchangeCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesWechatCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesUserRankCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesProductsCtrl.js'}}"></script>
<!-- endbuild -->
</body>
</html>