<!DOCTYPE html>
<html ng-app="futuresApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="拍拍机" />
    <meta name="keywords" content="拍拍机"/>
    <meta http-equiv="cleartype" content="on" />

    <title>拍拍机</title>
    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="/futures/css/reset.css">
    <link rel="stylesheet" href="/futures/css/base.css">
    <link rel="stylesheet" href="/futures/css/common.css">
    <link rel="stylesheet" href="/futures/css/pages.css">
    <link rel="stylesheet" href="/futures/css/zepto-range.css">
    <!-- endbuild -->
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/vendor/angular/angular.js'}}"></script>
</head>

<body ng-controller="FuturesIndexCtrl">

<div ng-view></div>

<!-- build:js js/script.js -->
<script src="/futures/js/lib/zepto.min.js"></script>
<script src="/futures/js/lib/zepto-range.js"></script>
<script src="/futures/js/lib/Chart.js"></script>
<script src="/futures/js/script.js"></script>

<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.min.js'}}"></script>
<script src="{{static '/vendor/angular-route/angular-route.min.js'}}"></script>
<script src="{{static '/vendor/angular-resource/angular-resource.min.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'}}"></script>
<script src="{{static '/futures/js/futures.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesIndexCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesHomeCtrl.js'}}"></script>
<!-- endbuild -->
</body>
</html>