<!DOCTYPE html>
<html ng-app="futuresApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="交易快手" />
    <meta name="keywords" content="交易快手"/>
    <meta http-equiv="cleartype" content="on" />

    <title>交易快手</title>
    <!-- build:css css/styles.css -->

    <!--
    <link rel="stylesheet" href="{{static '/vendor/bootstrap/dist/css/bootstrap.min.css'}}">
    <link rel="stylesheet" href="/futures/css/reset.css">
    <link rel="stylesheet" href="/futures/css/base.css">
    <link rel="stylesheet" href="/futures/css/common.css">
    <link rel="stylesheet" href="/futures/css/pages.css">
    <link rel="stylesheet" href="/futures/css/site.css">
    -->
    
    <!-- endbuild -->
    <link rel="stylesheet" href="{{static '/futures/css/niujinwang-ppj.min.7aa257d5.css'}}">
    <script src="{{static '/vendor/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{static '/vendor/angular/angular.min.js'}}"></script>
</head>

<body ng-controller="FuturesIndexCtrl" ng-cloak>

{{#if bootstrappedUserObject}}
    <script> window.bootstrappedUserObject = {{{bootstrappedUserObject}}} </script>
{{/if}}
<div ng-view></div>
<div style="height:60px"></div>
<div class="container ppj-footer" ng-hide="data.status != 0">
	<table class="foot-table">
		<tr>
            <td ng-repeat="item in items" ng-hide="$index === 2 && data.real">
                <a ng-click="switchPage(item)">
                    <div class="url-content">
                        <img ng-src="\{{item.img}}" style="width:28px" ng-show="data.selectedItem !== item.value" >
                        <img ng-src="\{{item.selectedImg}}" style="width:28px" ng-show="data.selectedItem === item.value" >
                        <p ng-class="{selected:data.selectedItem === item.value , un_selected:data.selectedItem !== item.value}">\{{item.name}}</p>
                    </div>
                </a>
            </td>
		</tr>
    </table>
</div>
<div class="ui-tip" ng-show="showError">\{{errorMsg}}</div>

<!-- build:js js/script.js -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="{{static '/vendor/moment/min/moment.min.js'}}"></script>
<script src="{{static '/vendor/moment/min/locales.min.js'}}"></script>
<script src="{{static '/socket.io/socket.io.js'}}"></script>

<!--
<script src="/futures/js/lib/zepto.min.js"></script>
<script src="/futures/js/script.js"></script>
<script src="{{static '/vendor/angular-touch/angular-touch.js'}}"></script>
<script src="{{static '/vendor/angular-route/angular-route.js'}}"></script>
<script src="{{static '/vendor/angular-resource/angular-resource.js'}}"></script>
<script src="{{static '/vendor/angular-bootstrap/ui-bootstrap-tpls.js'}}"></script>
<script src="{{static '/vendor/bootstrap/dist/js/bootstrap.js'}}"></script>
<script src="{{static '/vendor/toastr/toastr.js'}}"></script>
<script src="{{static '/js/highstock.js'}}"></script>
<script src="{{static '/js/common_module.js'}}"></script>
<script src="{{static '/futures/js/futures.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesIndexCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesHomeCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesOrdersCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesExchangeCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesWechatCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesUserRankCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesProductsCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesUserCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesAppointmentCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesContractCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesApplyCloseCtrl.js'}}"></script>
<script src="{{static '/futures/js/controller/FuturesTradeSettingCtrl.js'}}"></script>
-->
<script src="{{static '/js.min/niujinwang-ppj.min.5f6dc920.js'}}"></script>
<!-- endbuild -->
</body>
</html>
