<style>
    .records-table thead {
        background: #959595;
    }
	.btn-load {
		color:#a69d98;
		width:100%;
		text-align:center;
		font-size:12px;
		height:60px;
		line-height:60px;
	}
</style>
<header id="header">
	<div class="header-box">
		<a href="#" class="back">back</a>
	</div>
</header>
<div class="nav-tabs">
    <ul>
        <li ng-repeat="item in items" ng-class="{current:item.value === currentItem}">
            <a ng-click="changeItem(item)">\{{item.name}}</a>
        </li>
    </ul>
</div>
<div class="orders-wrapper">
    <div class="records">
        <table class="records-table">
            <thead>
            <tr>
                <th>业务/时间</th>
                <th>总价/单价</th>
                <th class="pull-right">手续费</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders">
                <td>
                    <strong>买\{{order.quantity | displayFutureQuantity}}手</strong>
                    <p>\{{order.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </td>
                <td align="right">
                    <strong class="text-danger">\{{(order.lockedCash > 0 ? order.lockedCash : 0 - order.lockedCash) / 100 | number:2}}</strong>
                    <p>\{{order.price / 100 | number:1}}</p>
                </td>
                <td align="right">
                    <strong class="text-danger">-\{{order.fee / 100 | number:2}}</strong>
                    <p></p>
                </td>
            </tr>
            </tbody>
        </table>
        <a ng-click="loadMore()"><div class="btn-load">加载更多</div></a>
    </div>
</div>
