<style>
    .orders-wrapper .orders-header {
        background-color: #4b90f7;
    }
    .orders-wrapper .orders-header .row img {
        margin-top: 2em;
    }
    .orders-wrapper .orders-header .user-info {
        text-align: left;
        font-size: 1.5em;
        color: white;
    }
    .orders-wrapper .orders-header .user-info .name {
        font-size: 1.8em;
    }
    .records-table thead {
        background: #959595;
    }
    .orders-wrapper .finance-info {
        font-size: 1.3em;
        background-color: white;
        margin-top: 0.3em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
</style>
<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>交易记录</h1>
        <a class="back" href="/futures"></a>
    </div>
</header><!--#E header-->

<div class="orders-wrapper">
    <div class="orders-header container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-3">
                <img class="img-circle" src="\{{user.wechat.wechat_img}}" width="100%" alt="...">
            </div>
            <div class="user-info col-xs-7">
                <ul>
                    <li class="name">\{{user.wechat.wechat_name}}</li>
                    <li>盈&nbsp;&nbsp;&nbsp;&nbsp;利: \{{userInfo.cash / 100 - originCapital | number:2}}元</li>
                    <li>积分点: \{{user.score}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="finance-info">
        <span class="pull-left">资产:\{{userInfo.cash / 100 | number:2}}元</span><span class="pull-right">本金:\{{originCapital | number:2}}元</span>
    </div>
    <div class="records">
        <table class="records-table">
            <thead>
            <tr>
                <th>业务/时间</th>
                <th>总价/单价</th>
                <th class="pull-right">手续费</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders">
                <td>
                    <strong>买\{{order.quantity | displayFutureQuantity}}手</strong>
                    <p>\{{order.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </td>
                <td align="right">
                    <strong class="text-danger">\{{order.lockedCash / 100 | number:2}}</strong>
                    <p>\{{order.price / 100 | number:1}}</p>
                </td>
                <td align="right">
                    <strong class="text-danger">-\{{order.fee / 100 | number:2}}</strong>
                    <p></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
