<style>
    .top-users {
        position: relative;
    }
    .top1 {
        position: absolute;
        top: -90px;
        width: 23%;
        left: 38%;
        height: 90px;
        background-color: #ff6773;
        color: white;
        text-align: center;
        font-size: 1.1em;
    }
    .top2 {
        position: absolute;
        top: -80px;
        width: 23%;
        left: 5%;
        height: 80px;
        background-color: #ff6773;
        color: white;
        text-align: center;
        font-size: 1.1em;
    }
    .top3 {
        position: absolute;
        top: -70px;
        width: 23%;
        left: 71%;
        height: 70px;
        background-color: #ff6773;
        color: white;
        text-align: center;
        font-size: 1.1em;
    }
    .top1-head {
        position: absolute;
        top: -185px;
        left: 37%;
    }
    .top2-head {
        position: absolute;
        top: -175px;
        left: 4%;
    }
    .top3-head {
        position: absolute;
        top: -165px;
        left: 70%;
    }
    .crown-top1 {
        position: absolute;
        top: -230px;
        left: 40%;
    }
    .crown-top2 {
        position: absolute;
        top: -220px;
        left: 6%;
    }
    .crown-top3 {
        position: absolute;
        top: -205px;
        left: 73%;
    }
    .user-badge {
        position: absolute;
        top: -105px;
        left: 32%
    }
    .user-rank-wrapper .users {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1.5em;
        padding-right: 2em;
        border-bottom: 0.1em solid #d3d3d3;
    }
    .user-rank-wrapper .users .badge {
        margin-left: 1.2em;
        margin-top: 1em;
    }
    .user-rank-wrapper .current {
        background-color: white;
    }
    .user-rank-wrapper .users .info {
        font-size: 1.5em;
        vertical-align: middle;
    }
</style>

<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>拍拍股神榜</h1>
        <a class="back" href="/futures"></a>
    </div>
</header><!--#E header-->

<div class="user-rank-wrapper">
    <div class="container">
        <div class="row">
            <img src="/futures/images/user_rank_background.png" width="100%" alt=""/>
        </div>
        <div class="top-users">
            <span class="top2"><br>\{{silverUser.wechat.wechat_name}}<br>\{{silverUser.wechat.trader.cash/100 | number:0}}</span>
            <span class="top1"><br>\{{goldUser.wechat.wechat_name}}<br>\{{goldUser.wechat.trader.cash/100 | number:0}}</span>
            <span class="top3"><br>\{{copperUser.wechat.wechat_name}}<br>\{{copperUser.wechat.trader.cash/100 | number:0}}</span>
            <img class="top2-head img-circle" src="\{{silverUser.wechat.wechat_img}}" width="25%" />
            <img class="top1-head img-circle" src="\{{goldUser.wechat.wechat_img}}" width="25%" />
            <img class="top3-head img-circle" src="\{{copperUser.wechat.wechat_img}}" width="25%" />
            <img class="crown-top2" src="/futures/images/top2.png" width="20%" />
            <img class="crown-top1" src="/futures/images/top1.png" width="20%" />
            <img class="crown-top3" src="/futures/images/top3.png" width="20%" />
            <img class="user-badge" src="/futures/images/badge.png" width="35%" />
        </div>
    </div>
    <div class="row users current" ng-hide="userInRank">
        <span class="col-xs-1 badge">???</span>
        <img class="img-circle col-xs-2" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="12%" />
        <span class="col-xs-5">您没有上榜，啥也不说了，快去交易吧</span>
        <button class="btn btn-danger pull-right col-xs-3" ng-click="trade()">立即交易</button>
    </div>
    <div class="row users" ng-repeat="theUser in topUsers">
        <span class="col-xs-1 badge">\{{4 + $index}}</span>
        <img class="img-circle col-xs-2" src="\{{theUser.wechat.wechat_img}}" width="12%" />
        <span class="info">
            <span class="col-xs-5">\{{theUser.wechat.wechat_name}}</span>
            <span class="pull-right col-xs-3 text-danger">\{{theUser.wechat.trader.cash/100}}</span>
        </span>
    </div>
    <!--
    <div class="row users">
        <span class="col-xs-1 badge">5</span>
        <img class="img-circle col-xs-2" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="12%" />
        <span class="info">
            <span class="col-xs-5">程翔</span>
            <span class="pull-right col-xs-3 text-danger">1380</span>
        </span>
    </div>
    <div class="row users">
        <span class="col-xs-1 badge">6</span>
        <img class="img-circle col-xs-2" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="12%" />
        <span class="info">
            <span class="col-xs-5">程翔</span>
            <span class="pull-right col-xs-3 text-danger">1380</span>
        </span>
    </div>
    <div class="row users">
        <span class="col-xs-1 badge">7</span>
        <img class="img-circle col-xs-2" src="http://wx.qlogo.cn/mmopen/uchmtWQh7iarnsx58BbzlB1GAOzjI3S8elKicd6t8CiahGE3JSDmkVnTNzicQA44DdRliaLOsI1wLI9o79kynDUIchg/0" width="12%" />
        <span class="info">
            <span class="col-xs-5">程翔</span>
            <span class="pull-right col-xs-3 text-danger">1380</span>
        </span>
    </div>
    -->
</div>