<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>聪明赚</h1>
        <a class="back" href="/mobile/#/"></a>
        <a class="f-pr" href="/mobile/newbie.html">新手说明</a>
    </div>
</header><!--#E header-->

<div ng-hide="vm.editInvest">
    <div class="zntz-box">
        <ul class="zntz-intro">
            <li>
                <h5>账户资金自动投</h5>
                <p>省心省力不操心</p>
            </li>
            <li>
                <h5>本金无忧高收益</h5>
                <p>比余额宝高3倍</p>
            </li>
            <li>
                <h5>投资周期灵活调</h5>
                <p>短期项目回款快</p>
            </li>
        </ul>
        <ul class="zntz-total">
            <li>
                共{{count}}位投资人累计投资
                <em>{{total_invest}}</em>
            </li>
            <li>
                帮投资人赚取
                <em>{{total_profit}}</em>
            </li>
        </ul>
        <div class="zntz-roi">
            投资人平均年化收益率
            <em>{{rate}}%</em>
        </div>
        <div class="zntz-conf">
            <p>投资收益你来定：</p>
            <ul class="zntz-conf-items">
                <li>
                    <label for="">预期年化收益 <i class="icon" ng-click="vm.showRateDialog = true"></i></label>
                    <input type="text" min="1" max="18" required autofocus name="profit-rate" ng-model="vm.profit_rate"><span class="per">%</span>
                </li>
                <li>
                    <label for="">投标借款期限 <i class="icon" ng-click="vm.showPeriodDialog = true"></i></label>
                    <input type="number" name="period" min="1" max="30" required ng-model="vm.period"><span>天内</span>
                </li>
            </ul>
        </div>
        <div class="zntz-agreement">
            开启即代表同意《<a href="">牛金网投资协议</a>》
        </div>
    </div>
</div>

<!--#S footer-->
<footer id="footer" ng-hide="vm.editInvest">
    <a href="" class="ft-btn" ng-click="vm.startInvest()">立即开启</a>
</footer><!--#E wrapper-->

<div class="ui-dialog" ng-show="vm.showRateDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>预期年化收益</h4>
                <div class="zntz-tips">预期年化收益率越高，出借时间越慢，出借成功后下一个工作日开始记利息。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.closeDialogWindow()">我知道了</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showConfirmDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>聪明赚</h4>
                <div class="zntz-tips">聪明赚已经开启，您需要将余额转入聪明赚，系统自动帮您投资让您收益最大化。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.confirmInvest()">我知道了</button>
        </div>
    </div>
</div>

<div ng-show="vm.editInvest">
    <div class="zntz-box">
        <div class="zntz-txt">
            您已开启聪明赚，转入资金即可自动投标高收益项目
        </div>
        <div class="zntz-conf">
            <a href="" class="recharge-btn" ng-click="vm.rechargeToInvestAccount()">转入资金</a>
            <ul class="zntz-conf-items">
                <li>
                    <label class="fl">\{{vm.user.enableInvest ? '聪明赚已开启' : '聪明赚已关闭'}}</label>
                    <label class="ui-switch">
                        <input type="checkbox" ng-model="vm.user.enableInvest" ng-change="vm.enableChange()"> <i></i>
                    </label>
                </li>
                <li>
                    <label for="">预期年化收益 <i class="icon" ng-click="vm.showRateDialog = true"></i></label>
                    <input type="text" min="1" max="18" required autofocus name="profit-rate" ng-model="vm.profit_rate"><span class="per">%</span>
                </li>
                <li>
                    <label for="">投标借款期限 <i class="icon" ng-click="vm.showPeriodDialog = true"></i></label>
                    <input type="number" name="period" min="1" max="30" required ng-model="vm.period"><span>天内</span>
                </li>
            </ul>
            <button class="save-btn" ng-click="vm.changeInvest()">保存</button>
        </div>
    </div>
</div>

<div class="ui-tip" ng-show="vm.inputError">\{{vm.errorMsg}}</div>

<div class="ui-tip-success" ng-show="vm.success">
    <div class="icon"></div>
    聪明赚设置保存成功!
</div>

<div class="ui-dialog" ng-show="vm.confirmDisableInvest">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>聪明赚</h4>
                <div class="zntz-tips">聪明赚能给您带来更多的收益，确定还要关闭吗？</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" class="close-dialog" ng-click="vm.disableInvest(false)">取消</button>
            <button type="button" ng-click="vm.disableInvest(true)">确定</button>
        </div>
    </div>
</div>

<div class="ui-dialog" ng-show="vm.showPeriodDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>投标借款期限</h4>
                <div class="zntz-tips">在借款期限截止当日，系统会将本金全部收回，放回系统账户中，此日期可以随时修改。</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" class="close-dialog" ng-click="vm.closeDialogWindow()">我知道了</button>
        </div>
    </div>
</div>
