<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天投</h1>
        <a class="back" href="" onclick="history.back();  return false;"></a>
    </div>
</header><!--#E header-->

<div class="recharge-alipay" ng-hide="vm.rechargeSuccess">
    <div class="balance">
        预期年化收益率：\{{vm.user.invest.profitRate}}%  可投资项目周期：\{{vm.user.invest.duration}}天
    </div>
    <div class="zntz-box">
        <div class="zntz-amount">
            <label for="amount">转入金额 (可转入<em style="color: #a40000;">\{{vm.user.finance.balance | currency:'':2}}</em>元)</label>
            <input type="number" min="100" step="100" name="amount" ng-model="vm.invest_amount">
            <span class="unit">元</span>
        </div>
        <ul class="zntz-txt-list">
            <!--
            <li>
                <h5>预期收益</h5>
                <strong>200.00</strong> 元
            </li>
            -->
            <li>
                <h5>还款方式</h5>
                按天计息，到期归还本息
            </li>
            <li>
                <h5>开始计息</h5>
                14:00点前出借成功当日，14:00后出借成功下一个工作日
            </li>
        </ul>
        <div class="zntz-agreement">
            开启即代表同意《<a href="">牛金网投资协议</a>》
        </div>
    </div>
</div>

<div class="zntz-box" ng-show="vm.rechargeSuccess">
    <ul class="zntz-status">
        <li class="step1">
            <span class="icon"></span>
            <p class="ing">成功支付 \{{vm.invest_amount | currency:'':2}}元，系统智能匹配中</p>
            今天
        </li>
        <li class="step2">
            <span class="icon"></span>
            <p>开始计息</p>
            14:00点前出借成功当日，14:00后出借成功下一个工作日
        </li>
        <li class="step3">
            <span class="icon"></span>
            <p>本金回款</p>
            出借项目到期日
        </li>
    </ul>
    <a href="/mobile/#/user" class="btn">完成</a>
</div>

<div class="ui-tip" ng-show="vm.inputError">\{{vm.errorMsg}}</div>

<!--#S footer-->
<footer id="footer" ng-hide="vm.rechargeSuccess">
    <a href="" class="ft-btn" ng-click="vm.payConfirm()">确认转入</a>
</footer><!--#E wrapper-->

