{{#if bootstrappedApply}}
    <script> window.bootstrappedApplyObject = {{{bootstrappedApply}}} </script>
{{/if}}
<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>天天牛</h1>
        <a class="back" href="/mobile/#/ttn"></a>
    </div>
</header><!--#E header-->

<div class="ttn-confirm-box">
    <ul class="fee-item">
        <li class="fee-item-bond">
            支付保证金
                <span>
                    <em id="J_confirmBond">\{{vm.apply.deposit | currency:'':2}}</em>元
                </span>
        </li>
        <li>
            <p>预存账户管理费</p>
            <div class="sel-box">
                <select class="ui-sel" ng-model="vm.apply.period" ng-change="vm.selectDay()">
                    <option ng-repeat="day in vm.validDays" value="\{{day}}" ng-selected="day === 10">\{{day}}天</option>
                </select>
            </div>
            <span class="dayfee">
                <em id="J_confirmFee">\{{vm.serviceFee | currency:'':2}}</em>元
            </span>
        </li>
        <li>
            <span class="dayfee">
                <input type="checkbox" ng-model="vm.autoPostpone">&nbsp;余额充足，自动延期
            </span>
        </li>
    </ul>
    <p class="remind">14:00后申请的交易账户会在下个交易日9：15分前分配资金</p>
    <p class="agree">申请操盘，代表您已同意<a href="/mobile/trader_agreement.html">《天天牛操盘协议》</a></p>
</div>

<!--#S footer-->
<footer id="footer">
    <div class="ft-pay-box">
        <div class="ft-pay-remind">当前余额\{{vm.apply.userBalance | currency:'':2}}元 完成支付还差<em>\{{vm.shouldPay | currency:'':2}}</em>元</div>
        <div class="ft-pay-money">
            合计<em>\{{vm.shouldPay | currency:'':2}}</em>元<span ng-show="vm.balancePay">,将使用余额支付。</span><a href="" ng-click="vm.payForApply()">立即支付</a>
        </div>
    </div>
</footer><!--#E wrapper-->

<div class="ui-dialog" ng-show="vm.showIdentityDialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4>需要身份信息</h4>
                <div class="zntz-tips">为了保证资金安全，参与天天投需要先认证身份信息，请先完成牛金网身份认证</div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" ng-click="vm.redirectToIdentity()">去身份认证</button>
        </div>
    </div>
</div>
