<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>我的月月牛</h1>
        <a class="back" href="/mobile/#/user"></a>
        <a class="f-pr" href="/mobile/#/yyn">我要配资</a>
    </div>
</header><!--#E header-->

<div class="user-ttn">
    <ul class="ttn-list">
        <li ng-repeat="apply in vm.apply_list | filter:{type:2} | orderBy:'applyAt':true">
            <div class="row">
                <span class="state">\{{apply.status | applyStatus}}</span>
                <span class="f-fr no">\{{apply.serialID}}</span>
            </div>
            <div class="row">
                总操盘资金(元)
                <em class="f-fr">\{{apply.amount | currency:'':2}}</em>
            </div>
            <div class="row">
                <div class="col">
                    预警线(元) <br>
                    <span class="f-fs2">\{{apply.apply_warn | currency:'':2}}</span>
                </div>
                <div class="col f-tar">
                    止损线(元) <br>
                    <span class="f-fs2">\{{apply.apply_sell | currency:'':2}}</span>
                </div>
            </div>
            <a href="/mobile/#/user_ttn_info/\{{apply.serialID}}" class="row row-gray" ng-show="apply.status === 2 || apply.status === 3 || apply.status === 5">
                    <span class="col">
                        交易账户  <em>\{{apply.account}}</em>
                    </span>
                    <span class="col f-tar">
                        交易密码  <em>\{{apply.password}}</em>
                    </span>
            </a>
            <a href="/mobile/#/yyn_confirm/\{{apply.serialID}}" class="row row-pay" ng-show="apply.status === 1">立即付款</a>
        </li>
    </ul>
</div>