<!--#S header-->
<header id="header">
    <div class="header-box">
        <h1>月月牛</h1>
        <a class="back" href="/mobile/#/"></a>
        <a href="#" class="f-pr">规则说明</a>
    </div>
</header><!--#E header-->

<div class="slogan-bd ttn-slogan">
    <div class="line"></div>
    <div class="pic">
        <img src="images/yyn-slogan.png" width="146" alt="按月配资">
    </div>
</div>

<div class="yyn-box">
    <h3>您的投资本金(元) <span>最少25万，最多100万</span></h3>
    <div class="yyn-principal">
        <input type="number" id="J_yynPrincipal" min="250000" max="1000000" placeholder="最少25万，最多100万" ng-model="vm.summary.deposit" ng-change="vm.calculateValue()" required autofocus>
    </div>

    <h3>配资比例</h3>
    <div class="money-select">
        <ul class="money-options" id="J_yynMoney">
            <li ng-repeat="item in vm.parameterList" ng-class="{current: item === vm.selectedValue}" ng-click="vm.selectLever(item)">
                <strong>\{{item.name}}</strong>
                <span>\{{item.interest}}分/月</span>
            </li>
        </ul>
    </div>

    <div class="yyn-month">
        <h3>资金使用期限</h3>
        <div class="sel-box">
            <span class="yyn-permonth" id="J_yynPerMonth"><em>\{{vm.selectedValue.interest}}</em>分/月</span>
            <span class="icon"></span>
            <select class="ui-sel" id="J_yynMonth" ng-options="item.name for item in vm.periodList" ng-model="vm.selectedMonth" ng-change="vm.monthChange()"></select>
        </div>
    </div>
    <h3>操盘确认 <span class="f-fr"><em>操盘须知：</em>投资沪深A股，仓位不限</span></h3>
    <div class="ttn-warn">
        <div class="number">
            <p>总操盘资金 <em id="J_yynTotal">\{{vm.summary.amount | currency:'':2}}</em> 元</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;警戒线 <strong id="J_yynWarn">\{{vm.summary.warnValue | currency:'':2}}</strong> 元</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平仓线 <strong id="J_yynOut">\{{vm.summary.sellValue | currency:'':2}}</strong> 元</p>
        </div>
    </div>
    <div class="ttn-warn">
        <div class="number">
            <p>支付保证金 <em id="J_yynTotal">\{{vm.summary.deposit || 0 | currency:'':2}}</em> 元</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;支付利息 <strong id="J_yynWarn">\{{vm.summary.charge | currency:'':2}}</strong> 元</p>
        </div>
    </div>
</div>

<!--#S footer-->
<footer id="footer">
    <a href="" class="ft-btn" id="J_2confirm" ng-click="vm.submitApply()">立即操盘</a>
</footer><!--#E wrapper-->
